

# ValidationResult


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**memberNames** | **List&lt;String&gt;** |  |  [readonly] |
|**errorMessage** | **String** |  |  [optional] |



