

# Verification

A Verification contained within a Session

## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**provider** | **String** | The identity provider that was used to perform the Verification, if any |  [optional] |
|**failCode** | **VerificationFailCode** | If the Verification is in state &#x60;VerificationFailed&#x60;, this field contains the reason for failure |  [optional] |



