openapi: 3.0.4
info:
  title: Trinsic API
  version: v1
  x-swaggerexclude: External
servers:
- description: Production server
  url: https://api.trinsic.id
security:
- Bearer: []
paths:
  /api/v1/attachments/attachment:
    post:
      description: "Exchange an Attachment Access Key (from `IdentityData.Attachments`)\
        \ for the raw contents of the attachment.\n            \nUse this API to fetch\
        \ document (front, back, portrait) or other (selfie) images from a verification,\
        \ if relevant.\n            \nIn some cases, attachments may not be immediately\
        \ available after a verification is completed.\nIf so, this endpoint will\
        \ return an HTTP 503 code, and you should try again later."
      operationId: GetAttachment
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetAttachmentRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetAttachmentRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetAttachmentRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetAttachmentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetAttachmentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetAttachmentResponse'
          description: OK
        "503":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Service Unavailable
        "400":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Get Attachment
      tags:
      - Attachments
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/network/providers:
    get:
      description: List all identity providers available for use
      operationId: ListProviders
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
          description: OK
        "400":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: List Providers
      tags:
      - Network
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/network/providers/contracts:
    get:
      description: "List the contracts for all Providers available to your App.\n\
        \            \nIf your App is in test mode, this call will only return Providers\
        \ available in test mode.\nIf your App is not in test mode, this call will\
        \ only return Providers available in production."
      operationId: ListProviderContracts
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ListProviderContractsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ListProviderContractsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListProviderContractsResponse'
          description: OK
        "400":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: List Provider Contracts
      tags:
      - Network
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/network/recommend:
    post:
      description: "Generate provider recommendations based on the given signals (phone\
        \ number, countries, states)."
      operationId: RecommendProviders
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RecommendRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RecommendRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RecommendRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RecommendResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RecommendResponse'
          description: OK
        "400":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Recommend Providers
      tags:
      - Network
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/sessions/provider/advanced:
    post:
      description: "Verify a user's identity with a specific provider, handling additional\
        \ user interaction in your own UI. \n\nSignal which kinds of user interactions\
        \ your UI can handle using the `Capabilities` field. \n\nIf `FallbackToHostedUi`\
        \ is `true`, Trinsic's hosted UI will automatically be invoked to handle any\
        \ capabilities you do not support."
      operationId: CreateAdvancedProviderSession
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateAdvancedProviderSessionRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateAdvancedProviderSessionRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateAdvancedProviderSessionRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreateAdvancedProviderSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAdvancedProviderSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateAdvancedProviderSessionResponse'
          description: OK
        "400":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Create Advanced Provider Session
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/sessions/{acceptanceSessionId}/step/refresh:
    post:
      description: Refreshes the content of a Step for an Advanced Provider Session.
      operationId: RefreshStepContent
      parameters:
      - explode: false
        in: path
        name: acceptanceSessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RefreshStepContentRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RefreshStepContentRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RefreshStepContentRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RefreshStepContentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshStepContentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RefreshStepContentResponse'
          description: OK
        "400":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Refresh Step Content
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/sessions/widget:
    post:
      description: Verify a user's identity using Trinsic's hosted Widget flow.
      operationId: CreateWidgetSession
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateWidgetSessionRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateWidgetSessionRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateWidgetSessionRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreateWidgetSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWidgetSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateWidgetSessionResponse'
          description: OK
        "400":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Create Widget Session
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/sessions/provider/hosted:
    post:
      description: "Verify a user's identity with a specific provider, using Trinsic-hosted\
        \ UI for providers which require additional user interaction."
      operationId: CreateHostedProviderSession
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateHostedProviderSessionRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateHostedProviderSessionRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateHostedProviderSessionRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreateHostedProviderSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreateHostedProviderSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateHostedProviderSessionResponse'
          description: OK
        "400":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Create Hosted Provider Session
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/sessions/list:
    get:
      description: List Sessions created by your account
      operationId: ListSessions
      parameters:
      - description: The field by which sessions should be ordered
        example: Created
        explode: true
        in: query
        name: OrderBy
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/SessionOrdering'
          example: Created
        style: form
      - example: Descending
        explode: true
        in: query
        name: OrderDirection
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/OrderDirection'
          example: Descending
        style: form
      - description: The number of items to return per page -- must be between `1`
          and `50`
        example: 50
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          example: 50
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: The page number to return -- starts at `1`
        example: 1
        explode: true
        in: query
        name: Page
        required: false
        schema:
          example: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ListSessionsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ListSessionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListSessionsResponse'
          description: OK
        "400":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: List Sessions
      tags:
      - Sessions
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}:
    get:
      description: Get a Session by its ID
      operationId: GetSession
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetSessionResponse'
          description: OK
        "400":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Get Session
      tags:
      - Sessions
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/results:
    post:
      operationId: GetSessionResult
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetSessionResultRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetSessionResultRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetSessionResultRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetSessionResultResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetSessionResultResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetSessionResultResponse'
          description: OK
        "400":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Get Session Results
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/cancel:
    post:
      description: Cancel a Session by its ID
      operationId: CancelSession
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CancelSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CancelSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CancelSessionResponse'
          description: OK
        "400":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Cancel Session
      tags:
      - Sessions
      x-accepts:
      - application/json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/redact:
    post:
      description: "Redact a Session, removing all identity data from Trinsic's servers.\n\
        Every application has a redaction period that dictates how long we will hold\
        \ on to your users' PII data. Once a session falls outside the redaction cutoff\
        \ date, all PII will automatically be removed from that session.\nYou can\
        \ utilize this endpoint to redact a session immediately.\n            \nIdentity\
        \ data that a user has chosen to save in their passkey-protected wallet will\
        \ not be deleted."
      operationId: RedactSession
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Redact Session
      tags:
      - Sessions
      x-accepts:
      - application/json
components:
  schemas:
    AadhaarInput:
      additionalProperties: false
      properties:
        fullName:
          description: The user's full name
          nullable: true
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          nullable: true
          type: string
      type: object
    Address:
      additionalProperties: false
      properties:
        line1:
          nullable: true
          type: string
        line2:
          nullable: true
          type: string
        line3:
          nullable: true
          type: string
        city:
          nullable: true
          type: string
        subdivision:
          nullable: true
          type: string
        postalCode:
          nullable: true
          type: string
        country:
          nullable: true
          type: string
        fullAddress:
          nullable: true
          type: string
      type: object
    AttachmentAccessKeys:
      additionalProperties: false
      properties:
        selfie:
          nullable: true
          type: string
        documentFront:
          nullable: true
          type: string
        documentBack:
          nullable: true
          type: string
        documentPortrait:
          nullable: true
          type: string
        provider:
          allOf:
          - $ref: '#/components/schemas/ProviderAttachments'
      required:
      - provider
      type: object
    BangladeshNationalIdInput:
      additionalProperties: false
      properties:
        nationalIdNumber:
          description: The user's Bangladesh National ID number.
          nullable: true
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          nullable: true
          type: string
        name:
          description: The user's full name
          nullable: true
          type: string
        photoBase64:
          description: The base64-encoded bytes of the photo collected from the user
          nullable: true
          type: string
      type: object
    BrazilCpfCheckInput:
      additionalProperties: false
      properties:
        cpfNumber:
          description: "The user's 11-digit, numeric CPF Number"
          maxLength: 11
          minLength: 11
          pattern: ^\d*$
          type: string
      required:
      - cpfNumber
      type: object
    BrazilDigitalCnhInput:
      additionalProperties: false
      properties:
        cpfNumber:
          description: "The user's 11-digit, numeric CPF Number"
          maxLength: 11
          minLength: 11
          pattern: ^\d*$
          type: string
        digitalCnhFile:
          description: "The raw bytes of the digital CNH file collected from the user.\n\
            \            \nTODO: Lucas or JP help me describe these below vvvvvvvv\n\
            This can be:\n- An image containing a physical or digital QR code\n- A\
            \ PDF file exported from the CNH app\n- Some scary third thing?"
          format: byte
          nullable: true
          type: string
        digitalCnhFileContentType:
          description: "The MIME Type of the file contained in `DigitalCnhFile`.\n\
            \            \nMust be one of `application/pdf`, `image/jpeg`, or `image/png`."
          nullable: true
          type: string
        facialBiometryPhoto:
          description: "The raw bytes of the image of the user's face, collected for\
            \ biometric comparison."
          format: byte
          nullable: true
          type: string
      required:
      - cpfNumber
      type: object
    CancelSessionResponse:
      additionalProperties: false
      example:
        session: ""
      properties:
        session:
          allOf:
          - $ref: '#/components/schemas/Session'
      required:
      - session
      type: object
    CreateAdvancedProviderSessionRequest:
      additionalProperties: false
      example:
        fallbackToHostedUI: true
        redirectUrl: redirectUrl
        capabilities:
        - LaunchBrowser
        - LaunchBrowser
        provider: provider
        providerInput: ""
      properties:
        provider:
          description: The ID of the provider to launch
          minLength: 1
          type: string
        providerInput:
          allOf:
          - $ref: '#/components/schemas/ProviderInput'
          description: Provider-specific input for those providers which require it.
          nullable: true
        redirectUrl:
          description: "The Redirect URL to which the user should be sent after the\
            \ session is complete.\n            \nThis field is required for providers\
            \ which employ a redirect-based flow."
          nullable: true
          type: string
        capabilities:
          description: "The list of capabilities your integration supports. Capabilities\
            \ are the core of Trinsic's whitelabel-with-optional-fallback offering.\n\
            \            \nMost capabilities align with either an `IntegrationLaunchMethod`\
            \ or an `IntegrationCollectionMethod`.\nThe exception being refresh content\
            \ to support updating the content of the launch method.\n            \n\
            For example, to support a basic redirect-based flow, you must include\
            \ the `LaunchRedirect` and `CaptureRedirect` capabilities.\nTo support\
            \ a mobile deeplink / polling flow, you must include the `DeeplinkToMobile`\
            \ and `PollForResults` capabilities.\n            \nIf `FallbackToHostedUi`\
            \ is `true`, Trinsic will automatically fall back to a Trinsic-hosted\
            \ UI to cover any gaps in your integration's capabilities.\nIf `FallbackToHostedUi`\
            \ is `false`, gaps in your integration's capabilities will result in an\
            \ error during Session creation.\n            \nRead more on how to integrate\
            \ at <a href=\"https://docs.trinsic.id/docs/advanced-provider-sessions\"\
            >the guide on Advanced Provider Sessions</a>"
          items:
            $ref: '#/components/schemas/IntegrationCapability'
          minItems: 1
          type: array
        fallbackToHostedUI:
          description: "Whether the session should fall back to a Trinsic-hosted UI\
            \ in certain instances.\n            \nSpecifically, fallback will occur\
            \ if any of the following are true:\n- You attempted to launch a provider\
            \ which requires a capability you did not express support for\n    - In\
            \ this case, Trinsic's hosted UI will perform the necessary capability\n\
            - You attempted to launch a provider which requires input, and the input\
            \ was either not provided or incomplete\n    - In this case, Trinsic's\
            \ hosted UI will collect the necessary input from the user\n         \
            \   \nIf fallback occurs, the session's NextStep will always be LaunchBrowser,\n\
            and the CollectionMethod will always be CaptureRedirect.\n           \
            \ \nIf this field is set to `true`, you must also:\n1. Set the `RedirectUrl`\
            \ field to a non-empty value\n2. Include the `LaunchBrowser` and `CaptureRedirect`\
            \ capabilities in the `Capabilities` field"
          nullable: true
          type: boolean
      required:
      - capabilities
      - provider
      type: object
    CreateAdvancedProviderSessionResponse:
      additionalProperties: false
      example:
        resultCollection: ""
        nextStep: ""
        sessionId: 00000000-0000-0000-0000-000000000000
      properties:
        sessionId:
          description: The ID of the newly-created Acceptance Session
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        resultCollection:
          allOf:
          - $ref: '#/components/schemas/ResultCollection'
          description: The method by which you must collect the results of the Acceptance
            Session.
        nextStep:
          allOf:
          - $ref: '#/components/schemas/IntegrationStep'
          description: The next step you must take to launch the user into the integration
      required:
      - nextStep
      - resultCollection
      - sessionId
      type: object
    CreateHostedProviderSessionRequest:
      additionalProperties: false
      example:
        redirectUrl: redirectUrl
        provider: provider
        providerInput: ""
      properties:
        provider:
          description: The ID of the provider to launch
          minLength: 1
          type: string
        redirectUrl:
          description: The Redirect URL to which the user should be sent after the
            session is complete.
          minLength: 1
          type: string
        providerInput:
          allOf:
          - $ref: '#/components/schemas/ProviderInput'
          description: Provider-specific input for those providers which require it.
          nullable: true
      required:
      - provider
      - redirectUrl
      type: object
    CreateHostedProviderSessionResponse:
      example:
        sessionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        launchUrl: https://api.trinsic.id/api/session/launch?clientToken=...
        resultsAccessKey: 417zNGHMJp6Ht2jCoktTLNGDRZEt4BqTwwQ8Q9ZaQz8aS4Jd7nD1xff2WLhPS69j5q9QT4gvgV79Gv7QtaXwu5YC9Utr35...
      properties:
        sessionId:
          description: The ID of the newly-created Acceptance Session
          format: uuid
          type: string
        launchUrl:
          description: "The URL that should be used to launch the Hosted Provider\
            \ Session on your user's device.\n            \nThere are two recommended\
            \ ways to do so:\n- Redirect their browser to the `LaunchUrl` as a top-level\
            \ navigation\n- Open a popup window and navigate it to the `LaunchUrl`\n\
            \            \nThis URL is sensitive and as such can only be obtained\
            \ once. If you need to obtain it again, you will need to create a new\
            \ Acceptance Session."
          example: https://api.trinsic.id/api/session/launch?clientToken=...
          type: string
        resultsAccessKey:
          description: "The `resultsAccessKey` for the Acceptance Session.\n     \
            \       \nThis is an encrypted payload which contains the decryption key\
            \ necessary to access the Session's Data Vault.\n            \nSave this\
            \ securely in your systems; it must be passed back with any API call which\
            \ requires access to the Session's Data Vault.\n            \nTrinsic\
            \ cannot access a Session's Data Vault without this key."
          example: 417zNGHMJp6Ht2jCoktTLNGDRZEt4BqTwwQ8Q9ZaQz8aS4Jd7nD1xff2WLhPS69j5q9QT4gvgV79Gv7QtaXwu5YC9Utr35...
          type: string
      required:
      - launchUrl
      - resultsAccessKey
      - sessionId
      type: object
    CreateWidgetSessionRequest:
      additionalProperties: false
      example:
        redirectUrl: redirectUrl
        recommendationInfo: ""
        providers:
        - providers
        - providers
      properties:
        redirectUrl:
          description: "The URL to redirect the user to after the widget session is\
            \ complete.\n            \n*Note*: this should NOT be set if you intend\
            \ to use Trinsic's Web UI SDK to launch the Widget\nas an embedded iFrame\
            \ or popup; in that case, session resolution is handled by our SDK, not\
            \ via redirect."
          nullable: true
          type: string
        providers:
          description: "The list of allowed identity providers. If not specified,\
            \ all available providers will be allowed."
          items:
            type: string
          nullable: true
          type: array
        recommendationInfo:
          allOf:
          - $ref: '#/components/schemas/RecommendationInfo'
          description: |-
            Data that you already know about the user being verified.


            This data is used to improve the user experience during provider selection, by surfacing the most relevant providers first.
          nullable: true
      type: object
    CreateWidgetSessionResponse:
      example:
        sessionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        launchUrl: https://api.trinsic.id/api/session/launch?clientToken=...
        resultsAccessKey: 417zNGHMJp6Ht2jCoktTLNGDRZEt4BqTwwQ8Q9ZaQz8aS4Jd7nD1xff2WLhPS69j5q9QT4gvgV79Gv7QtaXwu5YC9Utr35...
      properties:
        sessionId:
          description: The ID of the newly-created Acceptance Session
          format: uuid
          type: string
        launchUrl:
          description: "The URL that should be used to invoke the Acceptance Session\
            \ on your user's device.\n            \nYou can use our frontend SDKs\
            \ to launch the user into the Acceptance Session, or you can redirect\
            \ the user's browser to this URL.\n            \nThis URL is sensitive\
            \ and as such can only be obtained once. If you need to obtain it again,\
            \ you will need to create a new Acceptance Session."
          example: https://api.trinsic.id/api/session/launch?clientToken=...
          type: string
        resultsAccessKey:
          description: "The `resultsAccessKey` for the Acceptance Session.\n     \
            \       \nThis is an encrypted payload which contains the decryption key\
            \ necessary to access the Session's Data Vault.\n            \nSave this\
            \ securely in your systems; it must be passed back with any API call which\
            \ requires access to the Session's Data Vault.\n            \nTrinsic\
            \ cannot access a Session's Data Vault without this key."
          example: 417zNGHMJp6Ht2jCoktTLNGDRZEt4BqTwwQ8Q9ZaQz8aS4Jd7nD1xff2WLhPS69j5q9QT4gvgV79Gv7QtaXwu5YC9Utr35...
          type: string
      required:
      - launchUrl
      - resultsAccessKey
      - sessionId
      type: object
    DocumentData:
      additionalProperties: false
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/DocumentType'
          nullable: true
        number:
          nullable: true
          type: string
        issueDate:
          format: date
          nullable: true
          type: string
        expirationDate:
          format: date
          nullable: true
          type: string
        issuingCountry:
          nullable: true
          type: string
        issuingAuthority:
          nullable: true
          type: string
      type: object
    DocumentScanAttachments:
      additionalProperties: false
      properties:
        report:
          nullable: true
          type: string
      type: object
    DocumentType:
      enum:
      - Passport
      - DriversLicense
      - NationalId
      - IdCard
      type: string
      x-enumDescriptions:
        Passport: ""
        DriversLicense: ""
        NationalId: ""
        IdCard: ""
    GetAttachmentRequest:
      additionalProperties: false
      example:
        attachmentAccessKey: attachmentAccessKey
      properties:
        attachmentAccessKey:
          description: The Attachment Access Key to exchange for the raw file contents
            of the related Attachment
          minLength: 1
          type: string
      required:
      - attachmentAccessKey
      type: object
    GetAttachmentResponse:
      additionalProperties: false
      example:
        contentType: contentType
        content: content
      properties:
        content:
          description: The raw file contents of the Attachment
          format: byte
          type: string
        contentType:
          description: The MIME type of the Attachment data
          type: string
      required:
      - content
      - contentType
      type: object
    GetSessionResponse:
      additionalProperties: false
      example:
        session: ""
      properties:
        session:
          allOf:
          - $ref: '#/components/schemas/Session'
      required:
      - session
      type: object
    GetSessionResultRequest:
      additionalProperties: false
      example:
        resultsAccessKey: resultsAccessKey
      properties:
        resultsAccessKey:
          description: The Results Access Key to exchange
          type: string
      required:
      - resultsAccessKey
      type: object
    GetSessionResultResponse:
      additionalProperties: false
      example:
        session: ""
        identityData: ""
      properties:
        session:
          allOf:
          - $ref: '#/components/schemas/Session'
        identityData:
          allOf:
          - $ref: '#/components/schemas/IdentityData'
          nullable: true
      required:
      - session
      type: object
    HttpValidationProblemDetails:
      allOf:
      - $ref: '#/components/schemas/ProblemDetails'
      - additionalProperties: {}
        properties:
          errors:
            additionalProperties:
              items:
                type: string
              type: array
            type: object
        type: object
    IdentityData:
      additionalProperties: false
      properties:
        originatingProviderId:
          nullable: true
          type: string
        originatingSubProviderId:
          nullable: true
          type: string
        person:
          allOf:
          - $ref: '#/components/schemas/PersonData'
          nullable: true
        document:
          allOf:
          - $ref: '#/components/schemas/DocumentData'
          nullable: true
        attachmentAccessKeys:
          allOf:
          - $ref: '#/components/schemas/AttachmentAccessKeys'
          nullable: true
      type: object
    IdinInput:
      additionalProperties: false
      properties:
        subProviderId:
          description: "The ID of the specific bank to invoke with IDIN.\n       \
            \     \nIf not specified, the user will be prompted to select a bank."
          nullable: true
          type: string
      type: object
    IndonesiaNikInput:
      additionalProperties: false
      properties:
        fullName:
          description: The user's full name
          minLength: 1
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          type: string
        nikIdNumber:
          description: The user's Indonesia NIK ID number
          maxLength: 16
          minLength: 16
          pattern: ^\d*$
          type: string
      required:
      - dateOfBirth
      - fullName
      - nikIdNumber
      type: object
    IntegrationCapability:
      enum:
      - LaunchBrowser
      - DeeplinkToMobile
      - ShowContent
      - RefreshStepContent
      - CaptureRedirect
      - PollResult
      type: string
      x-enumDescriptions:
        LaunchBrowser: Signals that your integration supports the `LaunchBrowser`
          step type.
        DeeplinkToMobile: Signals that your integration supports the `DeeplinkToMobile`
          step type.
        ShowContent: Signals that your integration supports the `ShowContent` step
          type.
        RefreshStepContent: "Signals that your integration supports refreshable step\
          \ content, e.g., time-limited mobile deeplinks."
        CaptureRedirect: Signals that your integration supports the `CaptureRedirect`
          results collection method.
        PollResult: Signals that your integration supports the `PollResult` results
          collection method.
    IntegrationLaunchMethod:
      enum:
      - LaunchBrowser
      - None
      - DeeplinkToMobile
      - ShowContent
      type: string
      x-enumDescriptions:
        LaunchBrowser: "The user's browser should be sent to the provided URL, either\
          \ in a new tab, pop-up, or top-level navigation."
        None: |-
          No action needs to be taken by the user; simply poll with the provided `resultsAccessKey`
          for the results of the session.
        DeeplinkToMobile: "The user must be sent to the provided URL, which is a mobile\
          \ deeplink.\n            \nThe URL should be shown as a button on mobile,\
          \ or as a QR code on desktop."
        ShowContent: Content must be displayed to the user to guide them through the
          process of verifying their identity.
    IntegrationStep:
      additionalProperties: false
      description: A step to perform in the process of executing an Advanced Provider
        Session
      properties:
        method:
          allOf:
          - $ref: '#/components/schemas/IntegrationLaunchMethod'
          description: The launch method to perform
          example: LaunchBrowser
          x-enumDescriptions:
            LaunchBrowser: "The user's browser should be sent to the provided URL,\
              \ either in a new tab, pop-up, or top-level navigation."
            None: |-
              No action needs to be taken by the user; simply poll with the provided `resultsAccessKey`
              for the results of the session.
            DeeplinkToMobile: "The user must be sent to the provided URL, which is\
              \ a mobile deeplink.\n            \nThe URL should be shown as a button\
              \ on mobile, or as a QR code on desktop."
            ShowContent: Content must be displayed to the user to guide them through
              the process of verifying their identity.
        content:
          description: "Step type-specific content related to the step: a URL for\
            \ `LaunchBrowser`, a deeplink for `DeeplinkToMobile` or a string to show\
            \ to the user for `ShowContent`."
          example: https://api.trinsic.id/api/session/launch?clientToken=...
          type: string
        refresh:
          allOf:
          - $ref: '#/components/schemas/StepRefreshInfo'
          description: "If non-null, contains metadata about how to refresh the value\
            \ of `content`."
          nullable: true
      required:
      - content
      - method
      - refresh
      type: object
    KenyaNidInput:
      additionalProperties: false
      properties:
        firstName:
          description: The user's first name as it appears in their National ID
          minLength: 1
          type: string
        middleName:
          description: The user's middle name as it appears in their National ID (optional)
          nullable: true
          type: string
        lastName:
          description: The user's middle name as it appears in their National ID (optional)
          minLength: 1
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          type: string
        gender:
          description: "The user's gender as it appears in their National ID (e.g.,\
            \ male, female)"
          minLength: 1
          type: string
        nationalIdNumber:
          description: The user's South Kenya National ID number
          maxLength: 8
          minLength: 8
          pattern: ^\d*$
          type: string
      required:
      - dateOfBirth
      - firstName
      - gender
      - lastName
      - nationalIdNumber
      type: object
    Language:
      enum:
      - LIT
      - EST
      - ENG
      - RUS
      type: string
      x-enumDescriptions:
        LIT: ""
        EST: ""
        ENG: ""
        RUS: ""
    ListProviderContractsResponse:
      additionalProperties: false
      example:
        providerContracts:
        - collectionMethod: PollResult
          regions:
          - United States
          hasTrinsicInterface: true
          available: true
          description: dmv.ca.gov
          requiresInput: false
          launchMethod: DeeplinkToMobile
          logoUrl: https://content.trinsic.id/connect/integrations/ca-dmv.png
          supportsAdvancedProviderSessions: true
          geography:
          - CA
          name: CA DMV
          resultsMayBeDelayedAfterRedirect: false
          hasRefreshableContent: false
          id: ca-mdl
          subProviders:
          - name: name
            description: description
            id: id
            logoUrl: logoUrl
          - name: name
            description: description
            id: id
            logoUrl: logoUrl
        - collectionMethod: PollResult
          regions:
          - United States
          hasTrinsicInterface: true
          available: true
          description: dmv.ca.gov
          requiresInput: false
          launchMethod: DeeplinkToMobile
          logoUrl: https://content.trinsic.id/connect/integrations/ca-dmv.png
          supportsAdvancedProviderSessions: true
          geography:
          - CA
          name: CA DMV
          resultsMayBeDelayedAfterRedirect: false
          hasRefreshableContent: false
          id: ca-mdl
          subProviders:
          - name: name
            description: description
            id: id
            logoUrl: logoUrl
          - name: name
            description: description
            id: id
            logoUrl: logoUrl
      properties:
        providerContracts:
          description: "Contracts for all Providers available to your App, filtered\
            \ by your App's current test mode setting."
          items:
            $ref: '#/components/schemas/ProviderContract'
          type: array
      required:
      - providerContracts
      type: object
    ListProvidersResponse:
      additionalProperties: false
      example:
        providers:
        - name: Yoti | CLEAR | ...
          id: yoti | clear | ...
          logoUrl: logoUrl
        - name: Yoti | CLEAR | ...
          id: yoti | clear | ...
          logoUrl: logoUrl
      properties:
        providers:
          description: The list of identity providers available to your account
          items:
            $ref: '#/components/schemas/ProviderInfo'
          type: array
      required:
      - providers
      type: object
    ListSessionsResponse:
      additionalProperties: false
      example:
        sessions:
        - success: true
          created: 1722526411
          errorCode: ""
          id: 678c1ff6-2178-49e7-81d2-548afb6f85ec
          done: true
          updated: 1722526722
        - success: true
          created: 1722526411
          errorCode: ""
          id: 678c1ff6-2178-49e7-81d2-548afb6f85ec
          done: true
          updated: 1722526722
        total: 101
        more: true
      properties:
        sessions:
          items:
            $ref: '#/components/schemas/Session'
          type: array
        total:
          description: The total number of sessions tied to your account
          example: 101
          format: int32
          type: integer
        more:
          description: Whether there are additional pages of sessions to retrieve
          example: true
          type: boolean
      required:
      - more
      - sessions
      - total
      type: object
    MexicoCurpInput:
      additionalProperties: false
      properties:
        curp:
          description: The user's CURP number
          maxLength: 18
          minLength: 18
          type: string
      required:
      - curp
      type: object
    MobileIdInput:
      additionalProperties: false
      properties:
        mobileIdPhoneNumber:
          description: The user's phone number in E.164 format
          nullable: true
          type: string
        mobileIdNationalIdentityNumber:
          description: The user's National ID number
          nullable: true
          type: string
        mobileIdLanguage:
          allOf:
          - $ref: '#/components/schemas/Language'
          description: "The user's language -- LIT, EST, ENG, or RUS"
          nullable: true
      type: object
    NigeriaNinInput:
      additionalProperties: false
      properties:
        firstName:
          description: The user's first name as it appears in their National ID
          minLength: 1
          type: string
        middleName:
          description: The user's middle name as it appears in their National ID (optional)
          nullable: true
          type: string
        lastName:
          description: The user's last name as it appears in their National ID (optional)
          minLength: 1
          type: string
        phoneNumber:
          description: The user's phone number (optional)
          nullable: true
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          type: string
        gender:
          description: "The user's gender as it appears in their National ID (e.g.,\
            \ male, female)"
          nullable: true
          type: string
        nationalIdNumber:
          description: The user's South African National ID number
          maxLength: 11
          minLength: 11
          pattern: ^\d*$
          type: string
      required:
      - dateOfBirth
      - firstName
      - lastName
      - nationalIdNumber
      type: object
    OrderDirection:
      enum:
      - Ascending
      - Descending
      type: string
      x-enumDescriptions:
        Ascending: ""
        Descending: ""
    PersonData:
      additionalProperties: false
      properties:
        givenName:
          nullable: true
          type: string
        familyName:
          nullable: true
          type: string
        middleName:
          nullable: true
          type: string
        fullName:
          nullable: true
          type: string
        suffix:
          nullable: true
          type: string
        nationality:
          nullable: true
          type: string
        sex:
          allOf:
          - $ref: '#/components/schemas/Sex'
          nullable: true
        phoneNumber:
          nullable: true
          type: string
        address:
          allOf:
          - $ref: '#/components/schemas/Address'
          nullable: true
        dateOfBirth:
          format: date
          nullable: true
          type: string
      type: object
    PhilippineMatchInput:
      additionalProperties: false
      properties:
        givenName:
          description: The user's given / first name
          nullable: true
          type: string
        middleName:
          description: The user's middle name
          nullable: true
          type: string
        familyName:
          description: The user's family / last name
          nullable: true
          type: string
        suffix:
          description: The user's name suffix
          nullable: true
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          nullable: true
          type: string
      type: object
    PhilippineQRInput:
      additionalProperties: false
      properties:
        qrCodeText:
          description: The raw text of the user's QR code after decoding it.
          nullable: true
          type: string
        qrCodeImage:
          description: The raw bytes of the image containing the user's QR code.
          format: byte
          nullable: true
          type: string
      type: object
    ProblemDetails:
      additionalProperties: {}
      example:
        instance: instance
        detail: detail
        type: type
        title: title
        status: 0
      properties:
        type:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        detail:
          nullable: true
          type: string
        instance:
          nullable: true
          type: string
      type: object
    ProviderAttachments:
      additionalProperties: false
      properties:
        document-scan:
          allOf:
          - $ref: '#/components/schemas/DocumentScanAttachments'
          nullable: true
      type: object
    ProviderContract:
      additionalProperties: false
      example:
        collectionMethod: PollResult
        regions:
        - United States
        hasTrinsicInterface: true
        available: true
        description: dmv.ca.gov
        requiresInput: false
        launchMethod: DeeplinkToMobile
        logoUrl: https://content.trinsic.id/connect/integrations/ca-dmv.png
        supportsAdvancedProviderSessions: true
        geography:
        - CA
        name: CA DMV
        resultsMayBeDelayedAfterRedirect: false
        hasRefreshableContent: false
        id: ca-mdl
        subProviders:
        - name: name
          description: description
          id: id
          logoUrl: logoUrl
        - name: name
          description: description
          id: id
          logoUrl: logoUrl
      properties:
        id:
          description: The ID of the Provider for this contract.
          example: ca-mdl
          type: string
        name:
          description: The Provider's Name as it appears in Trinsic's Dashboard and
            Widget
          example: CA DMV
          type: string
        description:
          description: "The Provider's description as it appears in Trinsic's Widget.\n\
            \            \nThis is flavor text, not a full, human-readable description\
            \ of the provider."
          example: dmv.ca.gov
          type: string
        logoUrl:
          description: "A URL pointing to the Provider's logo on Trinsic's CDN.\n\
            \            \nMay be a PNG, JPG, or SVG image."
          example: https://content.trinsic.id/connect/integrations/ca-dmv.png
          type: string
        available:
          description: "Whether the Provider is available for use in your App.\n \
            \           \nIf `false`, you will need to contact Trinsic to enable this\
            \ Provider for your App."
          example: true
          type: boolean
        geography:
          description: The geographies within the Regions the Provider is available.
          example:
          - CA
          items:
            type: string
          type: array
        regions:
          description: The regions within which the Provider is available.
          example:
          - United States
          items:
            type: string
          type: array
        launchMethod:
          allOf:
          - $ref: '#/components/schemas/IntegrationLaunchMethod'
          description: "Relevant only to Advanced Provider Sessions.\n           \
            \ \nThe `LaunchMethod` which must be supported to launch the Provider\
            \ Session in Advanced Provider Sessions."
          example: DeeplinkToMobile
          x-enumDescriptions:
            LaunchBrowser: "The user's browser should be sent to the provided URL,\
              \ either in a new tab, pop-up, or top-level navigation."
            None: |-
              No action needs to be taken by the user; simply poll with the provided `resultsAccessKey`
              for the results of the session.
            DeeplinkToMobile: "The user must be sent to the provided URL, which is\
              \ a mobile deeplink.\n            \nThe URL should be shown as a button\
              \ on mobile, or as a QR code on desktop."
            ShowContent: Content must be displayed to the user to guide them through
              the process of verifying their identity.
        collectionMethod:
          allOf:
          - $ref: '#/components/schemas/ResultCollectionMethod'
          description: "Relevant only to Advanced Provider Sessions.\n           \
            \ \nThe `CollectionMethod` which must be supported to launch the Provider\
            \ Session in Advanced Provider Sessions."
          example: PollResult
          x-enumDescriptions:
            PollResult: "The results will be made available asynchronously, via a\
              \ polling mechanism.\n            \nUse the provided `ResultsAccessKey`\
              \ to poll for the results via the `GetResults` API."
            CaptureRedirect: "The user will be sent back to your application with\
              \ a `resultsAccessKey` in the query string.\n            \nUpon redirect,\
              \ use the provided `ResultsAccessKey` to retrieve the results via the\
              \ `GetResults` API."
        resultsMayBeDelayedAfterRedirect:
          description: "If `true`, then the results for this Provider may not be available\
            \ immediately after the user is redirected back\nto your application.\
            \ In this case, the `GetSessionResults` API must be called until results\
            \ are available.\n            \nThis is an uncommon scenario, and typically\
            \ only applies to Providers which use a biometric check or traditional\
            \ document scan."
          example: false
          type: boolean
        hasRefreshableContent:
          description: "Relevant only to Advanced Provider Sessions.\n           \
            \ \nWhether the Provider requires the `RefreshStepContent` capability.\n\
            \            \nFor example, Samsung Wallet's deep links expire every 30\
            \ seconds, and must be refreshed periodically for a\nresilient user flow."
          example: false
          type: boolean
        requiresInput:
          description: "Relevant to Hosted Provider Sessions and Advanced Provider\
            \ Sessions.\n            \nIf `true`, this Provider requires provider-specific\
            \ input on Session creation.\nIf this input is not provided, Trinsic's\
            \ Hosted UI will be invoked to collect the input from the user."
          example: false
          type: boolean
        hasTrinsicInterface:
          description: "Whether there exists a Trinsic-hosted UI for this Provider.\n\
            \            \nThis is `true` for any Provider which is not a simple,\
            \ OIDC-like redirect flow."
          example: true
          type: boolean
        supportsAdvancedProviderSessions:
          description: "Whether this Provider can be fully whitelabeled/OEMed through\
            \ the Advanced Provider Sessions API.\n            \nIf `false`, the Provider\
            \ may still be launched through Advanced Provider Sessions;\nhowever,\
            \ it will necessarily require a Trinsic-hosted UI to function."
          example: true
          type: boolean
        subProviders:
          description: "Metadata about the sub-providers which are available for this\
            \ Provider.\n            \nFor example, Italy's SPID is a Provider which\
            \ aggregates access to multiple sub-providers."
          items:
            $ref: '#/components/schemas/SubProviderMetadata'
          nullable: true
          type: array
      required:
      - available
      - collectionMethod
      - description
      - geography
      - hasRefreshableContent
      - hasTrinsicInterface
      - id
      - launchMethod
      - logoUrl
      - name
      - regions
      - requiresInput
      - resultsMayBeDelayedAfterRedirect
      - supportsAdvancedProviderSessions
      type: object
    ProviderInfo:
      additionalProperties: false
      description: A provider that can be specified when creating a `Session`
      example:
        name: Yoti | CLEAR | ...
        id: yoti | clear | ...
        logoUrl: logoUrl
      properties:
        id:
          description: The ID of the provider
          example: yoti | clear | ...
          type: string
        name:
          description: "The friendly, human-readable name of the provider"
          example: Yoti | CLEAR | ...
          type: string
        logoUrl:
          description: A URL pointing to the provider's logo
          type: string
      required:
      - id
      - logoUrl
      - name
      type: object
    ProviderInformation:
      additionalProperties: false
      example:
        providerDisplayName: providerDisplayName
        providerId: providerId
        providerLogo: providerLogo
      properties:
        providerId:
          readOnly: true
          type: string
        providerDisplayName:
          readOnly: true
          type: string
        providerLogo:
          readOnly: true
          type: string
      required:
      - providerDisplayName
      - providerId
      - providerLogo
      type: object
    ProviderInput:
      additionalProperties: false
      properties:
        indonesiaNik:
          allOf:
          - $ref: '#/components/schemas/IndonesiaNikInput'
          description: Input for the `f-indonesia-nik` provider
          nullable: true
        mexicoCurp:
          allOf:
          - $ref: '#/components/schemas/MexicoCurpInput'
          description: Input for the `f-mexico-curp` provider
          nullable: true
        southAfricaNid:
          allOf:
          - $ref: '#/components/schemas/SouthAfricaNidInput'
          description: Input for the `f-south-africa-nid` provider
          nullable: true
        kenyaNid:
          allOf:
          - $ref: '#/components/schemas/KenyaNidInput'
          description: Input for the `f-kenya-nid` provider
          nullable: true
        nigeriaNin:
          allOf:
          - $ref: '#/components/schemas/NigeriaNinInput'
          description: Input for the `f-nigeria-nin` provider
          nullable: true
        aadhaar:
          allOf:
          - $ref: '#/components/schemas/AadhaarInput'
          description: Input for the `f-india-aadhaar-match` provider
          nullable: true
        bangladeshNationalId:
          allOf:
          - $ref: '#/components/schemas/BangladeshNationalIdInput'
          description: Input for the `bangladesh-nid` provider
          nullable: true
        brazilCpfCheck:
          allOf:
          - $ref: '#/components/schemas/BrazilCpfCheckInput'
          description: Input for the `g-brazil-cpf` provider
          nullable: true
        brazilDigitalCnh:
          allOf:
          - $ref: '#/components/schemas/BrazilDigitalCnhInput'
          description: Input for the `g-brazil-digital-cnh` provider
          nullable: true
        philippineMatch:
          allOf:
          - $ref: '#/components/schemas/PhilippineMatchInput'
          description: Input for the `b-philsys-biometric` provider
          nullable: true
        philippineQR:
          allOf:
          - $ref: '#/components/schemas/PhilippineQRInput'
          description: Input for the `b-philippine-qr-digital-national-id` and `b-philippine-qr-ephill-id`
            providers
          nullable: true
        smartId:
          allOf:
          - $ref: '#/components/schemas/SmartIdInput'
          description: Input for the `smart-id` provider
          nullable: true
        mobileId:
          allOf:
          - $ref: '#/components/schemas/MobileIdInput'
          description: Input for the `mobile-id` provider
          nullable: true
        idin:
          allOf:
          - $ref: '#/components/schemas/IdinInput'
          description: Input for the `idin` provider
          nullable: true
        spid:
          allOf:
          - $ref: '#/components/schemas/SpidInput'
          description: Input for the `spid` provider
          nullable: true
        trinsicTestDatabaseLookup:
          allOf:
          - $ref: '#/components/schemas/TrinsicTestDatabaseLookupInput'
          description: "*TEST MODE ONLY.*\n            \nInput for the `trinsic-test-database-lookup`\
            \ provider"
          nullable: true
        trinsicTestSubProviders:
          allOf:
          - $ref: '#/components/schemas/TrinsicTestSubProvidersInput'
          description: "*TEST MODE ONLY.*\n            \nInput for the `trinsic-test-sub-providers`\
            \ provider"
          nullable: true
      type: object
    RecommendRequest:
      additionalProperties: false
      example:
        recommendationInfo: ""
      properties:
        recommendationInfo:
          allOf:
          - $ref: '#/components/schemas/RecommendationInfo'
          description: Information about the user you wish to generate a recommendation
            for.
          nullable: true
      type: object
    RecommendResponse:
      additionalProperties: false
      example:
        relevant:
        - providerDisplayName: providerDisplayName
          providerId: providerId
          providerLogo: providerLogo
        - providerDisplayName: providerDisplayName
          providerId: providerId
          providerLogo: providerLogo
        recognized:
        - providerDisplayName: providerDisplayName
          providerId: providerId
          providerLogo: providerLogo
        - providerDisplayName: providerDisplayName
          providerId: providerId
          providerLogo: providerLogo
        remainder:
        - providerDisplayName: providerDisplayName
          providerId: providerId
          providerLogo: providerLogo
        - providerDisplayName: providerDisplayName
          providerId: providerId
          providerLogo: providerLogo
      properties:
        recognized:
          description: The list of providers that were recognized in Trinsic's network.
            These are providers that already verified this user
          items:
            $ref: '#/components/schemas/ProviderInformation'
          type: array
        relevant:
          description: "The list of providers that although not recognized, are relevant\
            \ to the user's identity. The user may have been verified by these providers"
          items:
            $ref: '#/components/schemas/ProviderInformation'
          type: array
        remainder:
          description: The list of providers that are not recognized and are not relevant
            to the user's identity
          items:
            $ref: '#/components/schemas/ProviderInformation'
          type: array
      required:
      - recognized
      - relevant
      - remainder
      type: object
    RecommendationInfo:
      additionalProperties: false
      description: Information relating to a user; used to generated Identity Provider
        recommendations.
      properties:
        phoneNumber:
          description: "The phone number of the user you wish to generate a recommendation\
            \ for.\n            \nWill be used to look up the user's identity in the\
            \ network, as well as to determine the user's geographic location."
          nullable: true
          type: string
        countries:
          description: "A list of countries, in alpha-2 ISO 3166 format, which the\
            \ user is related to.\n            \nThis can include the user's country\
            \ of residence, nationality, etc."
          items:
            type: string
          nullable: true
          type: array
        subdivisions:
          description: "If one of the countries has subdivisions (for example: US\
            \ states), specify those related to the user here (e.g., CA, UT, NY)"
          items:
            type: string
          nullable: true
          type: array
        ipAddresses:
          description: "Any IP addresses related to the user.\n            \nWill\
            \ be used to determine the user's geographic location."
          items:
            type: string
          nullable: true
          type: array
      type: object
    RefreshStepContentRequest:
      additionalProperties: false
      example:
        resultsAccessKey: resultsAccessKey
      properties:
        resultsAccessKey:
          description: The `ResultsAccessKey` returned when the Session was created
          nullable: true
          type: string
      type: object
    RefreshStepContentResponse:
      additionalProperties: false
      example:
        nextStep: ""
      properties:
        nextStep:
          allOf:
          - $ref: '#/components/schemas/IntegrationStep'
          description: The integration's next step with refreshed content
      required:
      - nextStep
      type: object
    ResultCollection:
      additionalProperties: false
      properties:
        method:
          allOf:
          - $ref: '#/components/schemas/ResultCollectionMethod'
          description: The method by which the results of the Acceptance Session should
            be collected.
          example: CaptureRedirect
          x-enumDescriptions:
            PollResult: "The results will be made available asynchronously, via a\
              \ polling mechanism.\n            \nUse the provided `ResultsAccessKey`\
              \ to poll for the results via the `GetResults` API."
            CaptureRedirect: "The user will be sent back to your application with\
              \ a `resultsAccessKey` in the query string.\n            \nUpon redirect,\
              \ use the provided `ResultsAccessKey` to retrieve the results via the\
              \ `GetResults` API."
        resultsAccessKey:
          description: "The `resultsAccessKey` for the Acceptance Session.\n     \
            \       \nThis is an encrypted payload which contains the decryption key\
            \ necessary to access the Session's Data Vault.\n            \nSave this\
            \ securely in your systems; it must be passed back with any API call which\
            \ requires access to the Session's Data Vault.\n            \nTrinsic\
            \ cannot access a Session's Data Vault without this key."
          example: 417zNGHMJp6Ht2jCoktTLNGDRZEt4BqTwwQ8Q9ZaQz8aS4Jd7nD1xff2WLhPS69j5q9QT4gvgV79Gv7QtaXwu5YC9Utr35...
          type: string
      required:
      - method
      - resultsAccessKey
      type: object
    ResultCollectionMethod:
      enum:
      - PollResult
      - CaptureRedirect
      type: string
      x-enumDescriptions:
        PollResult: "The results will be made available asynchronously, via a polling\
          \ mechanism.\n            \nUse the provided `ResultsAccessKey` to poll\
          \ for the results via the `GetResults` API."
        CaptureRedirect: "The user will be sent back to your application with a `resultsAccessKey`\
          \ in the query string.\n            \nUpon redirect, use the provided `ResultsAccessKey`\
          \ to retrieve the results via the `GetResults` API."
    Session:
      additionalProperties: false
      example:
        success: true
        created: 1722526411
        errorCode: ""
        id: 678c1ff6-2178-49e7-81d2-548afb6f85ec
        done: true
        updated: 1722526722
      properties:
        id:
          example: 678c1ff6-2178-49e7-81d2-548afb6f85ec
          type: string
        done:
          description: "Whether the Session is in a terminal / final state.\n    \
            \        \nIf this is `true`, inspect the value of `Success` to determine\
            \ whether the Session was successful."
          type: boolean
        success:
          description: "Whether the Session has completed successfully.\n        \
            \    \nIf this is `false`, the Session is either not yet done, or has\
            \ failed. Inspect `Done` and `ErrorCode` for more information.\nIf this\
            \ is `true`, the Session has completed successfully."
          type: boolean
        errorCode:
          allOf:
          - $ref: '#/components/schemas/SessionErrorCode'
          description: "The reason for the Session's failure.\n            \nOnly\
            \ present if `Success` is `false`."
          nullable: true
        created:
          description: "The unix timestamp, in seconds, when this session was created"
          example: 1722526411
          format: int64
          type: integer
        updated:
          description: "The unix timestamp, in seconds, when this session's state\
            \ last changed"
          example: 1722526722
          format: int64
          type: integer
      required:
      - created
      - done
      - id
      - success
      - updated
      type: object
    SessionErrorCode:
      enum:
      - Internal
      - Other
      - Canceled
      - UserAbandoned
      - UserTimedOut
      - Expired
      - InvalidImage
      - Inauthentic
      - UnsupportedDocument
      - AssuranceLevelNotMet
      type: string
      x-enumDescriptions:
        Internal: An internal error has caused this session to fail
        Other: The session failed for a reason which does not fit any other failure
          code.
        Canceled: The session has been canceled
        UserAbandoned: The user abandoned the session
        UserTimedOut: The user took too long to complete the verification
        Expired: The session has expired
        InvalidImage: |-
          The image(s) provided for this verification were either too low-quality, not of the correct type, or otherwise
          unable to be processed.
        Inauthentic: "The identity data/images provided are suspected to be inauthentic,\
          \ fraudulent, or forged."
        UnsupportedDocument: "The document provided is either of an unsupported type,\
          \ or from an unsupported country."
        AssuranceLevelNotMet: The user's identity does not meet the required assurance
          level for this verification.
    SessionOrdering:
      enum:
      - Created
      - Updated
      - State
      type: string
      x-enumDescriptions:
        Created: Order sessions by their creation date
        Updated: Order sessions by the date their state last changed
        State: Order sessions by their state
    Sex:
      enum:
      - Unknown
      - NotApplicable
      - Male
      - Female
      type: string
      x-enumDescriptions:
        Unknown: ""
        NotApplicable: ""
        Male: ""
        Female: ""
    SmartIdInput:
      additionalProperties: false
      properties:
        smartIdDocumentNumber:
          description: The user's Smart ID Document Number
          nullable: true
          type: string
      type: object
    SouthAfricaNidInput:
      additionalProperties: false
      properties:
        fullName:
          description: The user's full name as it appears in their National ID
          minLength: 1
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          type: string
        gender:
          description: "The user's gender as it appears in their National ID (e.g.,\
            \ male, female)"
          minLength: 1
          type: string
        nationalIdNumber:
          description: The user's South African National ID number
          maxLength: 13
          minLength: 13
          pattern: ^\d*$
          type: string
      required:
      - dateOfBirth
      - fullName
      - gender
      - nationalIdNumber
      type: object
    SpidInput:
      additionalProperties: false
      properties:
        subProviderId:
          description: "The ID of the specific IDP to invoke within SPID.\n      \
            \      \nIf not specified, the user will be prompted to select an IDP."
          nullable: true
          type: string
      type: object
    StepRefreshInfo:
      additionalProperties: false
      properties:
        expiresAt:
          description: "The UTC date/time at which the step `content` will expire\
            \ and should no longer be used.\n            \nUse the `Refresh Step Content`\
            \ API to obtain a new value for `content`."
          format: date-time
          type: string
        refreshAfter:
          description: The UTC date/time after which Trinsic recommends you refresh
            the step `content`.
          format: date-time
          type: string
        timeToLiveSeconds:
          description: The total lifetime of the step `content`.
          format: int32
          type: integer
      required:
      - expiresAt
      - refreshAfter
      - timeToLiveSeconds
      type: object
    SubProviderMetadata:
      additionalProperties: false
      description: Information about a sub-provider.
      example:
        name: name
        description: description
        id: id
        logoUrl: logoUrl
      properties:
        id:
          description: "The ID of the sub-provider.\n            \nThis cannot be\
            \ used as a standalone Provider ID when creating a Session. It must\n\
            be passed in via the Provider-specific input."
          type: string
        name:
          description: The name of the sub-provider
          type: string
        description:
          description: Flavor text for the sub-provider
          type: string
        logoUrl:
          description: "A URL pointing to the logo on Trinsic's CDN.\n           \
            \ \nMay be a PNG, JPG, or SVG image."
          type: string
      required:
      - description
      - id
      - logoUrl
      - name
      type: object
    TrinsicTestDatabaseLookupInput:
      additionalProperties: false
      properties:
        givenName:
          description: "The given name to use for the output of the test Session.\n\
            \            \nThis is required; if not provided, Trinsic's Fallback UI\
            \ will be invoked to collect it\nfrom the user.\n            \nCan be\
            \ any non-empty value."
          nullable: true
          type: string
        familyName:
          description: "The family name to use for the output of the test Session.\n\
            \            \nThis is required; if not provided, Trinsic's Fallback UI\
            \ will be invoked to collect it\nfrom the user.\n            \nCan be\
            \ any non-empty value."
          nullable: true
          type: string
        identityCode:
          description: "A 6-digit code; must be \"123456\" for the Session to succeed.\n\
            \            \nThis is required; if not provided, Trinsic's Fallback UI\
            \ will be invoked to collect it\nfrom the user.\n            \nAny other\
            \ value will cause the Session to fail."
          nullable: true
          type: string
        selfieBase64:
          description: "An optional selfie image, base64-encoded.\n            \n\
            Will replace the existing test selfie attachment output if provided."
          nullable: true
          type: string
      type: object
    TrinsicTestSubProvidersInput:
      additionalProperties: false
      properties:
        subProviderId:
          description: "The ID of the specific IDP to invoke within the test federated\
            \ provider.\n            \nValid options are `sub-provider-a` and `sub-provider-b`.\n\
            \            \nIf not specified, the user will be prompted to select one."
          nullable: true
          type: string
      type: object
  securitySchemes:
    Bearer:
      description: Trinsic Connect API Key
      scheme: bearer
      type: http

