openapi: 3.0.4
info:
  title: Trinsic API
  version: v1
  x-swaggerexclude: External
servers:
- description: Production server
  url: https://api.trinsic.id
security:
- Bearer: []
tags:
- name: Providers
- name: RedirectUris
- name: Sessions
- name: VerificationProfiles
paths:
  /api/v1/providers:
    get:
      description: "List all identity providers available to your Organization, including\
        \ their license status."
      operationId: ListProviders
      parameters:
      - description: "Filter by license status. If not specified, returns all providers."
        explode: true
        in: query
        name: licensed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ListProvidersResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/ListProvidersResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/ListProvidersResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: List Providers
      tags:
      - Providers
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/providers/{providerId}:
    get:
      description: "Get a single identity provider by ID, including its license status."
      operationId: GetProvider
      parameters:
      - description: The ID of the provider to retrieve
        explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/GetProviderResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/GetProviderResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/GetProviderResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Get Provider
      tags:
      - Providers
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/valpha/redirect-uris:
    get:
      description: List registered Redirect URIs for the authenticated environment
      operationId: List
      parameters:
      - description: Number of pages of uris to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: Size of the list to be returned. Accepted range from 1 to 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ListRedirectUrisResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/ListRedirectUrisResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/ListRedirectUrisResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: List Redirect URIs
      tags:
      - RedirectUris
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
    post:
      description: Add a new redirect uri to the authenticated environment.
      operationId: Add
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/AddRedirectUriRequest"
          text/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/AddRedirectUriRequest"
          application/*+json:
            schema:
              allOf:
              - $ref: "#/components/schemas/AddRedirectUriRequest"
        description: "Request for uri to add to the environment. Must be absolute,\
          \ not relative. Wildcard \"*\" accepted."
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/AddRedirectUriResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/AddRedirectUriResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/AddRedirectUriResponse"
          description: Created
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Add Redirect URI
      tags:
      - RedirectUris
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/valpha/redirect-uris/{id}:
    delete:
      description: Delete a redirect uri from the environment.
      operationId: Delete
      parameters:
      - description: The id of the redirect uri to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Delete Redirect URI
      tags:
      - RedirectUris
      x-accepts:
      - application/problem+json
  /api/v1/sessions/{sessionId}/attachments/{attachmentId}/get:
    post:
      description: Fetch an Attachment's contents.
      operationId: GetAttachment
      parameters:
      - description: The ID of the Session to fetch the Attachment from
        explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the Attachment to fetch
        explode: false
        in: path
        name: attachmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/GetAttachmentRequest"
          text/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/GetAttachmentRequest"
          application/*+json:
            schema:
              allOf:
              - $ref: "#/components/schemas/GetAttachmentRequest"
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/GetAttachmentResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/GetAttachmentResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/GetAttachmentResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Get Attachment
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/verification-profiles/{verificationProfileId}/sessions:
    get:
      description: List Sessions created for a specific Verification Profile
      operationId: ListSessions
      parameters:
      - explode: false
        in: path
        name: verificationProfileId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The field by which sessions should be ordered
        example: Created
        explode: true
        in: query
        name: OrderBy
        required: false
        schema:
          allOf:
          - $ref: "#/components/schemas/SessionOrdering"
          example: Created
          x-enumDescriptions:
            Created: Order sessions by their creation date
            Updated: Order sessions by the date their state last changed
            State: Order sessions by their state
        style: form
      - example: Descending
        explode: true
        in: query
        name: OrderDirection
        required: false
        schema:
          allOf:
          - $ref: "#/components/schemas/OrderDirection"
          example: Descending
          x-enumDescriptions:
            Ascending: ""
            Descending: ""
        style: form
      - description: The number of items to return per page -- must be between `1`
          and `50`
        example: 50
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          example: 50
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: The page number to return -- starts at `1`
        example: 1
        explode: true
        in: query
        name: Page
        required: false
        schema:
          example: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ListSessionsResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/ListSessionsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/ListSessionsResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: List Sessions
      tags:
      - Sessions
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}:
    get:
      description: Get a Session by its ID
      operationId: GetSession
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/GetSessionResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/GetSessionResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/GetSessionResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Get Session
      tags:
      - Sessions
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/results:
    post:
      operationId: GetSessionResult
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/GetSessionResultRequest"
          text/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/GetSessionResultRequest"
          application/*+json:
            schema:
              allOf:
              - $ref: "#/components/schemas/GetSessionResultRequest"
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/GetSessionResultResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/GetSessionResultResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/GetSessionResultResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Get Session Results
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/cancel:
    post:
      description: Cancel a Session by its ID
      operationId: CancelSession
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/CancelSessionResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/CancelSessionResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/CancelSessionResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Cancel Session
      tags:
      - Sessions
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/redact:
    post:
      description: |-
        Redact a Session, removing all identity data from Trinsic's servers.
        Every verification profile has a redaction period that dictates how long we will hold on to your users' PII data. Once a session falls outside the redaction cutoff date, all PII will automatically be removed from that session.
        You can utilize this endpoint to redact a session immediately.
      operationId: RedactSession
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Redact Session
      tags:
      - Sessions
      x-accepts:
      - application/problem+json
  /api/v1/sessions/provider/direct:
    post:
      description: "Verify a user's identity with a specific provider, handling additional\
        \ user interaction in your own UI. \n\nSignal which kinds of user interactions\
        \ your UI can handle using the `Capabilities` field. \n\nIf `FallbackToHostedUi`\
        \ is `true`, Trinsic's hosted UI will automatically be invoked to handle any\
        \ capabilities you do not support."
      operationId: CreateDirectProviderSession
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/CreateDirectProviderSessionRequest"
              required:
              - verificationProfileId
          text/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/CreateDirectProviderSessionRequest"
              required:
              - verificationProfileId
          application/*+json:
            schema:
              allOf:
              - $ref: "#/components/schemas/CreateDirectProviderSessionRequest"
              required:
              - verificationProfileId
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/CreateDirectProviderSessionResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDirectProviderSessionResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/CreateDirectProviderSessionResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Create Direct Provider Session
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/step/refresh:
    post:
      description: Refreshes the content of a Step for a Direct Provider Session.
      operationId: RefreshStepContent
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/RefreshStepContentRequest"
          text/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/RefreshStepContentRequest"
          application/*+json:
            schema:
              allOf:
              - $ref: "#/components/schemas/RefreshStepContentRequest"
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/RefreshStepContentResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshStepContentResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/RefreshStepContentResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Refresh Step Content
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/native-challenge/submit:
    post:
      description: "Submits the response from a Native Challenge (e.g., mDL exchange\
        \ via DC API) and processes the results."
      operationId: SubmitNativeChallengeResponse
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/SubmitNativeChallengeResponseRequest"
          text/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/SubmitNativeChallengeResponseRequest"
          application/*+json:
            schema:
              allOf:
              - $ref: "#/components/schemas/SubmitNativeChallengeResponseRequest"
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/SubmitNativeChallengeResponseResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitNativeChallengeResponseResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/SubmitNativeChallengeResponseResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Submit Native Challenge Response
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/provider/hosted:
    post:
      description: "Verify a user's identity with a specific provider, using Trinsic-hosted\
        \ UI for providers which require additional user interaction."
      operationId: CreateHostedProviderSession
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/CreateHostedProviderSessionRequest"
              required:
              - verificationProfileId
          text/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/CreateHostedProviderSessionRequest"
              required:
              - verificationProfileId
          application/*+json:
            schema:
              allOf:
              - $ref: "#/components/schemas/CreateHostedProviderSessionRequest"
              required:
              - verificationProfileId
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/CreateHostedProviderSessionResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/CreateHostedProviderSessionResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/CreateHostedProviderSessionResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Create Hosted Provider Session
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/providers/recommend:
    post:
      description: |-
        Recommend providers for a specific user session.
        You can filter based on health (default=online) and specify country and subdivision information.
        Trinsic will use the phone number and IP address, if provided, to deduce the country and subdivision of the user and use that info for filtering the providers.
      operationId: RecommendProviders
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/RecommendProvidersRequest"
          text/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/RecommendProvidersRequest"
          application/*+json:
            schema:
              allOf:
              - $ref: "#/components/schemas/RecommendProvidersRequest"
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/RecommendProvidersResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/RecommendProvidersResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/RecommendProvidersResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Recommend Providers
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/valpha/verification-profiles:
    get:
      description: List the verification profiles for the current organization and
        environment.
      operationId: ListVerificationProfiles
      parameters:
      - description: ""
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: Size of the list to be returned. Accepted range from 1 to 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ListVerificationProfilesResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/ListVerificationProfilesResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/ListVerificationProfilesResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: List Verification Profiles
      tags:
      - VerificationProfiles
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
    post:
      description: Creates a new verification profile within your organization.
      operationId: CreateVerificationProfile
      requestBody:
        content:
          multipart/form-data:
            encoding:
              Alias:
                style: form
              BrandName:
                style: form
              PrimaryColor:
                style: form
              ExternalId:
                style: form
              Providers:
                style: form
              Logo:
                style: form
              RedactionPeriod:
                style: form
              SessionExpiration:
                style: form
              IsProductionUsage:
                style: form
            schema:
              $ref: "#/components/schemas/CreateVerificationProfile_request"
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/CreateVerificationProfileResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/CreateVerificationProfileResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/CreateVerificationProfileResponse"
          description: Created
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Create Verification Profile
      tags:
      - VerificationProfiles
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/valpha/verification-profiles/{id}:
    get:
      description: Gets a specific verification profile by ID.
      operationId: GetVerificationProfileById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/VerificationProfileResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationProfileResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/VerificationProfileResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Get Verification Profile
      tags:
      - VerificationProfiles
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/valpha/verification-profiles/external-ids/{externalId}:
    get:
      description: Gets a specific verification profile by its customer-defined external
        ID.
      operationId: GetVerificationProfileByExternalId
      parameters:
      - description: Customer-defined external ID
        explode: false
        in: path
        name: externalId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/VerificationProfileResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationProfileResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/VerificationProfileResponse"
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configuration
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Internal server error
      summary: Get Verification Profile by External ID
      tags:
      - VerificationProfiles
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
components:
  schemas:
    AadhaarAddress:
      description: The structured Indian address.
      properties:
        careOf:
          description: The address's care-of field. This indicates that mail should
            be delivered to an individual through another person or entity who is
            a known resident at the address.
          example: "S/O: Priya Kumari"
          nullable: true
          type: string
        country:
          description: "The address's country.\n            \nThis is usually formatted\
            \ as an alpha-2 country code, but localized output may instead contain\
            \ the country name as written on the document."
          example: IN
          nullable: true
          type: string
        district:
          description: The address's district.
          example: Ludhiana
          nullable: true
          type: string
        house:
          description: The identifier for the house address.
          example: "12"
          nullable: true
          type: string
        location:
          description: The location or locality that helps identify where the address
            is within a city.
          example: Rajguru Nagar
          nullable: true
          type: string
        landmark:
          description: A landmark near the address.
          example: Near City Mall
          nullable: true
          type: string
        postalCode:
          description: The address's postal code.
          example: "226010"
          nullable: true
          type: string
        postOffice:
          description: The address's post office.
          example: Rajguru Nagar
          nullable: true
          type: string
        state:
          description: The address's state or union territory.
          example: Jammu and Kashmir
          nullable: true
          type: string
        street:
          description: The address's street name.
          example: MG Road
          nullable: true
          type: string
        subdistrict:
          description: The address's subdistrict.
          example: Ludhiana
          nullable: true
          type: string
        villageTownCity:
          description: The address's village/town/city.
          example: Malota
          nullable: true
          type: string
      type: object
    AadhaarClaims:
      properties:
        name:
          description: The full name.
          example: Rajesh Kumar
          nullable: true
          type: string
        dateOfBirth:
          description: "The date of birth.\n            \nThe format is YYYY-MM-DD."
          example: 1943-08-15
          format: date
          nullable: true
          type: string
        gender:
          description: "The gender of the individual.\n            \nPossible values:\n\
            - M (Male)\n- F (Female)\n- T (Transgender)"
          example: M
          nullable: true
          type: string
        address:
          allOf:
          - $ref: "#/components/schemas/AadhaarAddress"
          description: The structured Indian address.
          example:
            careOf: "S/O: Priya Kumari"
            country: IN
            district: Ahmedabad
            house: "12"
            location: Navrangpura
            landmark: Near City Mall
            postalCode: "226010"
            postOffice: Navrangpura
            state: Gujarat
            street: Mahatma Gandhi Road
            subdistrict: Vejalpur
            villageTownCity: Ahmedabad
          nullable: true
      type: object
    AadhaarInput:
      properties:
        fullName:
          description: The user's full name
          nullable: true
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          nullable: true
          type: string
      type: object
    AadhaarLanguage:
      description: The language used for the localized claims.
      properties:
        languageCode:
          description: The language code for the localized claims.
          example: "05"
          nullable: true
          type: string
        languageName:
          description: "The language name for the localized claims.\n            \n\
            This is Trinsic mapping the language from the code. The mapping comes\
            \ from the spec, however, the code may not always reflect with the actual\
            \ language used in the localized claims.\nUse this as a reference.\nPossible\
            \ values:\n- Assamese (01)\n- Bengali (02)\n- Gujarati (05)\n- Hindi (06)\n\
            - Kannada (07)\n- Malayalam (11)\n- Manipuri (12)\n- Marathi (13)\n- Oriya\
            \ (15)\n- Punjabi (16)\n- Tamil (20)\n- Telugu (21)\n- Urdu (22)"
          example: Gujarati
          readOnly: true
          type: string
      required:
      - languageName
      type: object
    AadhaarLocalizedClaims:
      properties:
        language:
          allOf:
          - $ref: "#/components/schemas/AadhaarLanguage"
          description: The language code for the localized claims.
          nullable: true
        name:
          description: The full name.
          example: રાજેશ કુમાર
          nullable: true
          type: string
        address:
          allOf:
          - $ref: "#/components/schemas/AadhaarAddress"
          description: The structured address.
          example:
            careOf: "પિતા: પ્રિયા કુમારી"
            country: ભારત
            district: અમદાવાદ
            house: "12"
            location: નવરંગપુરા
            landmark: સિટી મોલ પાસે
            postalCode: "226010"
            postOffice: નવરંગપુરા
            state: ગુજરાત
            street: મહાત્મા ગાંધી રોડ
            subdistrict: વેજલપુર
            villageTownCity: અમદાવાદ
          nullable: true
      type: object
    AddRedirectUriRequest:
      example:
        uri: uri
      properties:
        uri:
          minLength: 1
          type: string
      required:
      - uri
      type: object
    AddRedirectUriResponse:
      example:
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          format: uuid
          type: string
      required:
      - id
      type: object
    Address:
      description: Address information for an individual
      properties:
        line1:
          nullable: true
          type: string
        line2:
          nullable: true
          type: string
        line3:
          nullable: true
          type: string
        city:
          nullable: true
          type: string
        subdivision:
          description: "The subdivision code of the address.\n            \nSubdivision\
            \ refers to a state, province, or other similar division of a country.\n\
            Examples include \"CA\" for California, \"QC\" for Québec, \"MD\" for\
            \ Madrid, or \"NSW\" for New South Wales."
          nullable: true
          type: string
        postalCode:
          nullable: true
          type: string
        country:
          nullable: true
          type: string
        fullAddress:
          description: The full address as a single string
          nullable: true
          type: string
      type: object
    AppleWalletInput:
      properties:
        exchangeMechanism:
          allOf:
          - $ref: "#/components/schemas/MdlExchangeMechanism"
          description: "The exchange mechanism to use for this Apple Wallet verification.\n\
            \            \nUse `DigitalCredentialsApi` for Digital Credentials API\
            \ on web, or `NativeApp` for a native iOS app."
          nullable: true
        preview_raw18013Request:
          allOf:
          - $ref: "#/components/schemas/Raw18013RequestInput"
          description: "**Preview feature: not suitable for production use cases**\n\
            \            \nThe raw 18013-7 exchange request to use for this verification.\n\
            \            \nIf set, this overrides any default configuration on your\
            \ Verification Profile.\n            \nNOTE: For Apple Wallet, this cannot\
            \ (yet) be used with the `NativeApp` (in-app) exchange mechanism. Only\
            \ the `DigitalCredentialsApi` (web) exchange mechanism supports this input."
          nullable: true
      type: object
    AppleWalletProviderOutput:
      description: Exposed properties for the `apple-wallet` Provider which do not
        directly map to the normalized IdentityData model.
      properties:
        rawMdlOutput:
          allOf:
          - $ref: "#/components/schemas/MdlOutput"
          description: The raw output of the mDL exchange performed through Apple
            Wallet.
      required:
      - rawMdlOutput
      type: object
    AttachmentInfo:
      properties:
        id:
          description: "The unique identifier of the Attachment.\n            \nPass\
            \ this to the `GetAttachment` endpoint, along with the Session ID and\
            \ the `resultsAccessKey` for said Session."
          format: uuid
          type: string
        type:
          description: "The type of the Attachment.\n            \nPossible values:\n\
            - \"selfie\"\n- \"document_front\"\n- \"document_back\"\n- \"document_portrait\"\
            \n- \"document_signature\"\n- \"document_scan_report\"\n            \n\
            Additional attachment types may be defined for specific Providers."
          type: string
        contentType:
          description: "The MIME type of the attachment's contents; eg, \"image/jpeg\"\
            \ or \"application/pdf\"."
          type: string
        sizeBytes:
          description: The size in bytes of the attachment.
          format: int32
          type: integer
      required:
      - contentType
      - id
      - sizeBytes
      - type
      type: object
    AttributeAvailability:
      description: Indicates when an attribute will be available in verification results.
      enum:
      - Never
      - Sometimes
      - Always
      type: string
      x-enumDescriptions:
        Never: This attribute will never be present in verification results.
        Sometimes: This attribute may or may not be present depending on the verification
          context.
        Always: This attribute will always be present in verification results.
    AudkenniProviderOutput:
      description: Exposed properties for the `audkenni` Provider which do not directly
        map to the normalized IdentityData model.
      properties:
        nationalRegisterId:
          description: "National Register ID number (kennitala) of the individual.\n\
            \            \nOften written with a hyphen following the 6th digit (123456-1234).\n\
            ID numbers are composed of ten digits. The first six of these are the\
            \ individual’s date of birth in the format DDMMYY.\nThe seventh and eighth\
            \ digits are randomly chosen when the ID number is allocated, the ninth\
            \ digit used to be a check digit (modulus (11) but this has been removed.\n\
            The tenth indicates the century of the individual’s birth: ‘9’ for 1900–\
            1999, ‘0’ for 2000 and beyond."
          example: "0101303369"
          type: string
        subjectId:
          description: "Unique identifier for the individual across Audkenni.\n  \
            \          \nIt is recommended to use this identifier instead of using\
            \ the national register ID directly."
          example: 2963785c-b8cc-490e-8d7e-054f7538383b
          type: string
        name:
          description: The full name of the individual.
          example: Gervimaður Asía
          type: string
        dateOfBirth:
          description: |-
            The date of birth of the individual as parsed from the National Register ID number.
            Is null if the date of birth could not be parsed, but should always be present
          example: 1980-01-31
          format: date
          nullable: true
          type: string
      required:
      - name
      - nationalRegisterId
      - subjectId
      type: object
    AustriaHandySignaturProviderOutput:
      description: Exposed properties for the `a-at-handy-signatur-login` Provider
        which do not directly map to the normalized IdentityData model.
      properties:
        firstName:
          description: The first name of the verified individual
          example: John
          type: string
        lastName:
          description: The last name of the verified individual
          example: Doe
          type: string
      required:
      - firstName
      - lastName
      type: object
    BelgiumIdCardProviderOutput:
      description: Exposed properties for the `a-be-id-login` Provider which do not
        directly map to the normalized IdentityData model.
      properties:
        firstName:
          description: The first name of the verified individual
          example: John
          type: string
        lastName:
          description: The last name of the verified individual
          example: Doe
          type: string
        dateOfBirth:
          description: The date of birth of the verified individual
          example: 1985-12-10
          format: date
          type: string
        nationalRegisterNumber:
          description: "The Belgian National Register Number (\"Rijksregisternummer\"\
            ) of the verified individual.\n            \nThis is an 11-digit number\
            \ in the format YYMMDDXXXCC, where:\n- YYMMDD represents the individual's\
            \ date of birth (year, month, day).\n- XXX is a sequential birth number,\
            \ odd for males and even for females.\n- CC is a checksum, calculated\
            \ with the equation: 97 - (YYMMDDXXX mod 97)\n            \nFor births\
            \ in the year 2000 or later, the digit '2' is prepended to the first 9\
            \ digits during checksum calculation."
          example: "83122412413"
          type: string
      required:
      - dateOfBirth
      - firstName
      - lastName
      - nationalRegisterNumber
      type: object
    BoliviaCiLookupInput:
      properties:
        documentNumber:
          description: "The holder's CI (\"Cédula de Identidad\") number from the\
            \ Bolivian identity card (\"carnet de identidad\").\nThis is the identifier\
            \ assigned by the Servicio General de Identificación Personal (SEGIP)\
            \ in the\nRegistro Único de Identificación (RUI). Is entirely numeric\
            \ values. Any non-alphanumeric characters\n(dots, hyphens, spaces, etc.)\
            \ will be stripped before lookup.\n            \nPublished regulations\
            \ do not define a fixed length; digit count may vary."
          example: "123456789"
          nullable: true
          type: string
        dateOfBirth:
          description: The holder's date of birth. Must match the CI record.
          example: 1990-03-15
          format: date
          nullable: true
          type: string
      type: object
    BoliviaCiProviderOutput:
      description: Exposed properties for the `bolivia-ci-lookup` Provider which do
        not directly map to the normalized IdentityData model.
      properties:
        fullName:
          description: Full name as it appears on the CI (Cédula de Identidad).
          example: María Mamani
          type: string
        givenName:
          description: Given name(s) of the holder as they appear on the CI (Cédula
            de Identidad).
          example: María
          type: string
        familyName:
          description: Family name(s) of the holder (paternal and maternal) as they
            appear on the CI (Cédula de Identidad).
          example: Mamani
          type: string
        dateOfBirth:
          description: Date of birth as recorded in official Bolivian identity records
            (RUI — Registro Único de Identificación).
          example: 1990-03-15
          format: date
          nullable: true
          type: string
        documentNumber:
          description: "The CI (Cédula de Identidad) document number for the matched\
            \ record.\n            \nThe document is officially called the Cédula\
            \ de Identidad and is commonly called carnet or carnet de\nidentidad in\
            \ Bolivia. This is the identifier assigned by the Servicio General de\
            \ Identificación Personal\n(SEGIP) in the Registro Único de Identificació\
            n (RUI). The value is entirely numeric. There is no\nverification digit\
            \ or other data encoded in the number.\n            \nPublished regulations\
            \ do not define a fixed length; digit count may vary."
          example: "123456789"
          type: string
      required:
      - documentNumber
      - familyName
      - fullName
      - givenName
      type: object
    BrazilCpfCheckInput:
      properties:
        cpfNumber:
          description: "The user's 11-digit, numeric CPF Number"
          maxLength: 11
          minLength: 11
          pattern: ^\d*$
          type: string
        selfieImage:
          description: The raw bytes of the selfie image collected from the user.
          format: byte
          nullable: true
          type: string
        selfieImageContentType:
          description: "The MIME Type of the file contained in `SelfieImage`.\n  \
            \          \nMust be one of `image/jpeg` or `image/png`."
          nullable: true
          type: string
      required:
      - cpfNumber
      type: object
    BrazilDigitalCnhInput:
      properties:
        cpfNumber:
          description: "The user's 11-digit, numeric CPF Number"
          maxLength: 11
          minLength: 11
          pattern: ^\d*$
          type: string
        digitalCnhFile:
          description: The raw bytes of the digital CNH file collected from the user.
          format: byte
          nullable: true
          type: string
        digitalCnhFileContentType:
          description: "The MIME Type of the file contained in `DigitalCnhFile`.\n\
            \            \nMust be one of `application/pdf`, `image/jpeg`, or `image/png`."
          nullable: true
          type: string
        facialBiometryPhoto:
          description: "The raw bytes of the image of the user's face, collected for\
            \ biometric comparison."
          format: byte
          nullable: true
          type: string
      required:
      - cpfNumber
      type: object
    CancelSessionResponse:
      example:
        session: ""
      properties:
        session:
          allOf:
          - $ref: "#/components/schemas/Session"
      required:
      - session
      type: object
    ChinaResidentIdMatchInput:
      properties:
        fullName:
          description: The person's full name in Chinese characters.
          minLength: 1
          type: string
        dateOfBirth:
          description: "The person's date of birth, in `YYYY-MM-DD` format."
          format: date
          type: string
        nationalIdNumber:
          description: The person's 18-character PRC resident identity card number.
          maxLength: 18
          minLength: 18
          pattern: "^\\d{17}[\\dXx]$"
          type: string
        consent:
          description: Consent from the end user for verification of their data.
          type: boolean
      required:
      - consent
      - dateOfBirth
      - fullName
      - nationalIdNumber
      type: object
    ChinaResidentIdMatchOutput:
      description: Exposed properties for the `china-resident-id-match` Provider which
        do not directly map to the normalized IdentityData model.
      properties:
        fullName:
          description: The fullname of the individual in Chinese.
          example: 陈明志
          nullable: true
          type: string
        dateOfBirth:
          description: The birthdate of the individual.
          example: 1980-01-31
          format: date
          nullable: true
          type: string
        residentIdNumber:
          description: "The Resident ID number from the People's Republic of China\
            \ (PRC) ID card.\n            \nThe Resident ID number is an 18-digit\
            \ number follows the format (AAAAAAYYYYMMDDXXX@):\n- Six digits (AAAAAA)\
            \ are the area code of where the person was born or the area of first\
            \ issuance for those who were born before the resident system was created.\n\
            - Eight digits are the birthdate of the individual in YYYYMMDD format\n\
            - Three digits are the order code assigned to individual. Males are assigned\
            \ odd numbers and females even numbers.\n- Final digit is the checksum\
            \ confirming the validity of the ID number's first 17 digits using ISO\
            \ 7064:1983, MOD 11-2."
          example: "110102198001318811"
          nullable: true
          type: string
      type: object
    ColombiaCcLookupInput:
      properties:
        documentNumber:
          description: "The CC (Cédula de Ciudadanía, Citizenship Document) document\
            \ number.\n            \nFormat:\n- Cédulas after 2004 use the NUIP (Nú\
            mero Único de Identificación Personal), which is 10 digits.\n  Older documents\
            \ may have fewer than 10 digits and are still valid.\n- In Colombia the\
            \ number is often written with dots as thousands separators (e.g. 1.234.567.890).\
            \ If dots,\n  hyphens, spaces, or other non-alphanumeric characters are\
            \ included, they will be sanitized before lookup."
          example: "1234567890"
          nullable: true
          type: string
        issueDate:
          description: "Document issue date, in `YYYY-MM-DD` format"
          example: 2025-10-31
          format: date
          nullable: true
          type: string
      type: object
    ColombiaCcProviderOutput:
      description: Exposed properties for the `colombia-cc-lookup` Provider which
        do not directly map to the normalized IdentityData model.
      properties:
        fullName:
          description: Full name as it appears on the CC.
          example: JUAN CARLOS PEREZ GOMEZ
          type: string
        givenName:
          description: Given name(s) of the holder as they appear on the CC.
          example: JUAN CARLOS
          type: string
        familyName:
          description: |-
            Family name(s) of the holder as they appear on the CC. Space-separated when
            both paternal and maternal family names are present.
          example: PEREZ GOMEZ
          type: string
        dateOfBirth:
          description: Date of birth as recorded in the civil registry (Registraduría
            Nacional).
          example: 1985-01-15
          format: date
          type: string
        sex:
          description: "Sex of the holder as recorded in the civil registry (Registradurí\
            a Nacional).\n            \nPossible values:\n- Male\n- Female\n- Unknown\
            \ (when the sex is not recorded or cannot be confidently determined)"
          example: Male
          type: string
        isAlive:
          description: "Whether the person is reported as alive in Colombia's official\
            \ civil registry (Registraduría Nacional).\n            \nUsed to detect\
            \ identity fraud when the holder is deceased."
          example: true
          type: boolean
        documentNumber:
          description: "The Cédula de Ciudadanía (CC) document number.\n         \
            \   \nThis is the unique identifier assigned by the Registraduría Nacional\
            \ when the person is first\nissued a CC. It does not change when the person\
            \ renews or receives a new physical card; it\nremains the same for the\
            \ individual for life.\n            \nCédulas issued after 2004 use the\
            \ NUIP (Número Único de Identificación Personal), which is\n10 digits.\
            \ Older documents may have fewer than 10 digits and are still valid."
          example: "1234567890"
          type: string
        expeditionDate:
          description: "Date the CC was issued (fecha de expedición).\n          \
            \  \nFormat:\n- yyyy-MM-dd"
          example: 2020-03-10
          format: date
          type: string
        expeditionPlace:
          allOf:
          - $ref: "#/components/schemas/ColombiaExpeditionPlace"
          description: |-
            Place where the CC was issued (lugar de expedición): municipality and department as recorded
            by the Registraduría Nacional.
          example:
            municipality: BOGOTA D.C.
            department: BOGOTA
        arrayName:
          description: "All names as they appear on the CC, as an array of strings.\n\
            \            \nFormat:\n- Order follows the civil registry: typically\
            \ family name(s) first, then given name(s)."
          example:
          - PEREZ
          - GOMEZ
          - JUAN
          - CARLOS
          items:
            type: string
          type: array
      required:
      - arrayName
      - dateOfBirth
      - documentNumber
      - expeditionDate
      - expeditionPlace
      - familyName
      - fullName
      - givenName
      - isAlive
      - sex
      type: object
    ColombiaExpeditionPlace:
      description: "Place of expedition (issue) for the Colombia Cédula de Ciudadaní\
        a (CC) as recorded by the Registraduría\nNacional del Estado Civil (National\
        \ Civil Registry).\n            \nColombia uses a two-level administrative\
        \ hierarchy for place of issue: municipality (municipio) within\ndepartment\
        \ (departamento)."
      properties:
        municipality:
          description: "Municipality (municipio) where the CC was issued.\n      \
            \      \nThis is the second-level administrative division in Colombia."
          example: BOGOTA D.C.
          nullable: true
          type: string
        department:
          description: "Department (departamento) where the CC was issued.\n     \
            \       \nThis is the first-level administrative division in Colombia."
          example: BOGOTA
          nullable: true
          type: string
      type: object
    ConnectIdAddress:
      properties:
        streetAddress:
          description: The address' line or street.
          example: L 7 SE 3 17 Jones St
          nullable: true
          type: string
        locality:
          description: The address' locality or city.
          example: North Sydney
          nullable: true
          type: string
        region:
          description: "The address' region, state, or territory."
          example: NSW
          nullable: true
          type: string
        country:
          description: "The address' country.\n            \nThis value is not normalized\
            \ and may be an alpha-3 code or full country name."
          example: AUS
          nullable: true
          type: string
        postalCode:
          description: The address' postal code.
          example: "2060"
          nullable: true
          type: string
      type: object
    ConnectIdAgeVerification:
      properties:
        over18:
          description: If the individual is over 18 years old.
          example: true
          nullable: true
          type: boolean
        trustFramework:
          description: The authority that verified the claim.
          example: au_connectid
          nullable: true
          type: string
      type: object
    ConnectIdProviderOutput:
      description: Exposed properties for the `australia-connect-id` Provider which
        do not directly map to the normalized IdentityData model.
      properties:
        birthdate:
          description: The date of birth of an individual in YYYY-MM-DD format.
          example: 1985-01-31
          format: date
          nullable: true
          type: string
        givenName:
          description: The given name of an individual.
          example: John
          nullable: true
          type: string
        middleName:
          description: The middle name of an individual.
          example: Albert
          nullable: true
          type: string
        familyName:
          description: The family/last name of an individual.
          example: Smith
          nullable: true
          type: string
        phoneNumber:
          description: The phone number of an individual.
          example: "+61271111222"
          nullable: true
          type: string
        email:
          description: The email of an individual.
          example: johnasmith@example.com
          nullable: true
          type: string
        sub:
          description: The OpenID Connect (OIDC) subject identifier (sub).
          example: abcdefg123456
          nullable: true
          type: string
        ageVerification:
          allOf:
          - $ref: "#/components/schemas/ConnectIdAgeVerification"
          description: The age verification claim and whether the individual meets
            the age requirement.
          nullable: true
        transaction:
          description: "The verification session's transaction number.\n         \
            \   \nThis is a unique identifier assigned to a single ConnectID transaction\
            \ flow. It can be used for audit purposes or to flag fraudulent activity."
          example: qaTTTTuhVnTck8zQlba4pFW2jo55555UfIoOEYv8sJq
          nullable: true
          type: string
        address:
          allOf:
          - $ref: "#/components/schemas/ConnectIdAddress"
          description: The address.
          nullable: true
      type: object
    ContractAttachment:
      description: Information about an attachment that a Provider may return in verification
        results.
      example:
        type: document_portrait
        outputted: Always
      properties:
        type:
          description: "The type of the attachment as it appears in verification results.\n\
            \            \nPossible values:\n- \"selfie\"\n- \"document_front\"\n\
            - \"document_back\"\n- \"document_portrait\"\n- \"document_signature\"\
            \n- \"document_scan_report\"\n            \nAdditional attachment types\
            \ may be defined for specific Providers."
          example: document_portrait
          type: string
        outputted:
          allOf:
          - $ref: "#/components/schemas/AttributeAvailability"
          description: Indicates when this attachment will be present in verification
            results.
          example: Always
          x-enumDescriptions:
            Never: This attribute will never be present in verification results.
            Sometimes: This attribute may or may not be present depending on the verification
              context.
            Always: This attribute will always be present in verification results.
      required:
      - outputted
      - type
      type: object
    ContractAttribute:
      description: Information about an attribute that a Provider may return in verification
        results.
      example:
        scope: person.givenName
        outputted: Always
      properties:
        scope:
          description: The scope of the attribute as it appears in verification results.
          example: person.givenName
          type: string
        outputted:
          allOf:
          - $ref: "#/components/schemas/AttributeAvailability"
          description: Indicates when this attribute will be present in verification
            results.
          example: Always
          x-enumDescriptions:
            Never: This attribute will never be present in verification results.
            Sometimes: This attribute may or may not be present depending on the verification
              context.
            Always: This attribute will always be present in verification results.
      required:
      - outputted
      - scope
      type: object
    CoteDIvoireNidLookup2Input:
      properties:
        idNumber:
          description: The user's National ID number (NNI) or document number
          nullable: true
          type: string
      type: object
    CoteDIvoireNidLookup2ProviderOutput:
      description: Exposed properties for the `cote-divoire-nid-lookup-2` Provider
        which do not directly map to the normalized IdentityData model.
      properties:
        fullName:
          description: Full name as returned by ONECI (National Civil Registry and
            Identification Office).
          example: Jean Dupont
          type: string
        givenName:
          description: Given name of the ID holder as returned by ONECI (National
            Civil Registry and Identification Office).
          example: Jean
          type: string
        familyName:
          description: Family name of the ID holder as returned by ONECI (National
            Civil Registry and Identification Office).
          example: Dupont
          type: string
        dateOfBirth:
          description: Date of birth as returned by ONECI (National Civil Registry
            and Identification Office).
          example: 2000-01-01
          format: date
          type: string
        sex:
          description: |-
            Sex of the ID holder as returned by ONECI (National Civil Registry and Identification Office).
[...]
