openapi: 3.0.4
info:
  title: Trinsic API
  version: v1
  x-swaggerexclude: External
servers:
- description: Production server
  url: https://api.trinsic.id
security:
- Bearer: []
paths:
  /api/v1/attachments/attachment:
    post:
      description: "Exchange an Attachment Access Key (from `IdentityData.AttachmentAccessKeys`)\
        \ for the raw contents of the attachment.\n            \nUse this API to fetch\
        \ document (front, back, portrait) or other (selfie) images from a verification,\
        \ if relevant.\n            \nIn some cases, attachments may not be immediately\
        \ available after a verification is completed.\nIf so, this endpoint will\
        \ return an HTTP 503 code, and you should try again later."
      operationId: GetAttachment
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetAttachmentRequest'
              required:
              - sessionId
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetAttachmentRequest'
              required:
              - sessionId
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetAttachmentRequest'
              required:
              - sessionId
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetAttachmentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetAttachmentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetAttachmentResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Get Attachment
      tags:
      - Attachments
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/valpha/mdl/exchanges/create:
    post:
      description: "Creates a new mDL Exchange, returning an exchange ID, request\
        \ object string, and context string.\n            \nmDL Exchanges are ephemeral\
        \ until completion -- no state is stored within Trinsic until the exchange\
        \ is finalized.\n            \nThis API currently only supports Google Wallet\
        \ on Android via Web or Native. Apple Wallet support is coming soon."
      operationId: CreateMdlExchange
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateMdlExchangeRequest'
              description: Request to create an mDL Exchange.
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateMdlExchangeRequest'
              description: Request to create an mDL Exchange.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateMdlExchangeRequest'
              description: Request to create an mDL Exchange.
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreateMdlExchangeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMdlExchangeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateMdlExchangeResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Create mDL Exchange
      tags:
      - Mdl
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/valpha/mdl/exchanges/finalize:
    post:
      description: "Finalizes an mDL Exchange, processing the results"
      operationId: FinalizeMdlExchange
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FinalizeMdlExchangeRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FinalizeMdlExchangeRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FinalizeMdlExchangeRequest'
        description: ""
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FinalizeMdlExchangeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/FinalizeMdlExchangeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/FinalizeMdlExchangeResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Finalize mDL Exchange
      tags:
      - Mdl
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/network/{verificationProfileId}/providers:
    get:
      description: List all identity providers available for use
      operationId: ListProviders
      parameters:
      - explode: false
        in: path
        name: verificationProfileId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Filter providers by health status. Valid values: \"online\"\
          , \"offline\", \"all\". Defaults to \"all\"."
        explode: true
        in: query
        name: health
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: List Providers
      tags:
      - Network
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/network/{verificationProfileId}/providers/contracts:
    get:
      description: "List the contracts for all Providers available to your App.\n\
        \            \nIf your App is in test mode, this call will only return Providers\
        \ available in test mode.\nIf your App is not in test mode, this call will\
        \ only return Providers available in production."
      operationId: ListProviderContracts
      parameters:
      - explode: false
        in: path
        name: verificationProfileId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ListProviderContractsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ListProviderContractsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListProviderContractsResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: List Provider Contracts
      tags:
      - Network
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/network/recommend:
    post:
      description: "Generate provider recommendations based on signals about the user's\
        \ location (phone number, countries, states)."
      operationId: RecommendProviders
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RecommendRequest'
              required:
              - verificationProfileId
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RecommendRequest'
              required:
              - verificationProfileId
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RecommendRequest'
              required:
              - verificationProfileId
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RecommendResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RecommendResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Recommend Providers
      tags:
      - Network
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/verification-profiles/{verificationProfileId}/sessions:
    get:
      description: List Sessions created for a specific Verification Profile
      operationId: ListSessions
      parameters:
      - explode: false
        in: path
        name: verificationProfileId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The field by which sessions should be ordered
        example: Created
        explode: true
        in: query
        name: OrderBy
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/SessionOrdering'
          example: Created
        style: form
      - example: Descending
        explode: true
        in: query
        name: OrderDirection
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/OrderDirection'
          example: Descending
        style: form
      - description: The number of items to return per page -- must be between `1`
          and `50`
        example: 50
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          example: 50
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: The page number to return -- starts at `1`
        example: 1
        explode: true
        in: query
        name: Page
        required: false
        schema:
          example: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ListSessionsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ListSessionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListSessionsResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: List Sessions
      tags:
      - Sessions
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}:
    get:
      description: Get a Session by its ID
      operationId: GetSession
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetSessionResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Get Session
      tags:
      - Sessions
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/results:
    post:
      operationId: GetSessionResult
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetSessionResultRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetSessionResultRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetSessionResultRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetSessionResultResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetSessionResultResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetSessionResultResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Get Session Results
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/cancel:
    post:
      description: Cancel a Session by its ID
      operationId: CancelSession
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CancelSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CancelSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CancelSessionResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Cancel Session
      tags:
      - Sessions
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/redact:
    post:
      description: |-
        Redact a Session, removing all identity data from Trinsic's servers.
        Every application has a redaction period that dictates how long we will hold on to your users' PII data. Once a session falls outside the redaction cutoff date, all PII will automatically be removed from that session.
        You can utilize this endpoint to redact a session immediately.
      operationId: RedactSession
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Redact Session
      tags:
      - Sessions
      x-accepts:
      - application/problem+json
  /api/v1/sessions/provider/direct:
    post:
      description: "Verify a user's identity with a specific provider, handling additional\
        \ user interaction in your own UI. \n\nSignal which kinds of user interactions\
        \ your UI can handle using the `Capabilities` field. \n\nIf `FallbackToHostedUi`\
        \ is `true`, Trinsic's hosted UI will automatically be invoked to handle any\
        \ capabilities you do not support."
      operationId: CreateDirectProviderSession
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateDirectProviderSessionRequest'
              required:
              - verificationProfileId
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateDirectProviderSessionRequest'
              required:
              - verificationProfileId
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateDirectProviderSessionRequest'
              required:
              - verificationProfileId
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreateDirectProviderSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDirectProviderSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateDirectProviderSessionResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Create Direct Provider Session
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/step/refresh:
    post:
      description: Refreshes the content of a Step for a Direct Provider Session.
      operationId: RefreshStepContent
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RefreshStepContentRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RefreshStepContentRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RefreshStepContentRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RefreshStepContentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshStepContentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RefreshStepContentResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Refresh Step Content
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/native-challenge/submit:
    post:
      description: "Submits the response from a Native Challenge (e.g., mDL exchange\
        \ via DC API) and processes the results."
      operationId: SubmitNativeChallengeResponse
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SubmitNativeChallengeResponseRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SubmitNativeChallengeResponseRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SubmitNativeChallengeResponseRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SubmitNativeChallengeResponseResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitNativeChallengeResponseResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/SubmitNativeChallengeResponseResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Submit Native Challenge Response
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/provider/hosted:
    post:
      description: "Verify a user's identity with a specific provider, using Trinsic-hosted\
        \ UI for providers which require additional user interaction."
      operationId: CreateHostedProviderSession
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateHostedProviderSessionRequest'
              required:
              - verificationProfileId
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateHostedProviderSessionRequest'
              required:
              - verificationProfileId
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateHostedProviderSessionRequest'
              required:
              - verificationProfileId
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreateHostedProviderSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreateHostedProviderSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateHostedProviderSessionResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Create Hosted Provider Session
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/widget:
    post:
      description: Verify a user's identity using Trinsic's hosted Widget flow.
      operationId: CreateWidgetSession
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateWidgetSessionRequest'
              required:
              - verificationProfileId
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateWidgetSessionRequest'
              required:
              - verificationProfileId
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateWidgetSessionRequest'
              required:
              - verificationProfileId
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreateWidgetSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWidgetSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateWidgetSessionResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Create Widget Session
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
components:
  schemas:
    AadhaarInput:
      additionalProperties: false
      properties:
        fullName:
          description: The user's full name
          nullable: true
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          nullable: true
          type: string
      type: object
    Address:
      additionalProperties: false
      properties:
        line1:
          nullable: true
          type: string
        line2:
          nullable: true
          type: string
        line3:
          nullable: true
          type: string
        city:
          nullable: true
          type: string
        subdivision:
          nullable: true
          type: string
        postalCode:
          nullable: true
          type: string
        country:
          nullable: true
          type: string
        fullAddress:
          nullable: true
          type: string
      type: object
    AppleWalletInput:
      additionalProperties: false
      properties:
        exchangeMechanism:
          allOf:
          - $ref: '#/components/schemas/MdlExchangeMechanism'
          description: "The exchange mechanism to use for this Apple Wallet verification.\n\
            \            \nUse `DigitalCredentialsApi` for Digital Credentials API\
            \ on web, or `NativeApp` for a native iOS app."
          nullable: true
      type: object
    AttachmentAccessKeys:
      additionalProperties: false
      properties:
        selfie:
          nullable: true
          type: string
        documentFront:
          nullable: true
          type: string
        documentBack:
          nullable: true
          type: string
        documentPortrait:
          nullable: true
          type: string
        provider:
          allOf:
          - $ref: '#/components/schemas/ProviderAttachments'
      required:
      - provider
      type: object
    BangladeshNidInput:
      additionalProperties: false
      properties:
        nationalIdNumber:
          description: The user's Bangladesh National ID number.
          maxLength: 17
          minLength: 10
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          type: string
        name:
          description: The user's full name
          maxLength: 80
          minLength: 1
          type: string
        photoByes:
          description: The raw bytes of the photo file collected from the user.
          format: byte
          nullable: true
          type: string
        photoImageMimeType:
          description: "The MIME Type of the file contained in `PhotoByes`.\n    \
            \        \nMust be one of `image/jpeg`, or `image/png`."
          nullable: true
          type: string
      required:
      - dateOfBirth
      - name
      - nationalIdNumber
      type: object
    BrazilCpfCheckInput:
      additionalProperties: false
      properties:
        cpfNumber:
          description: "The user's 11-digit, numeric CPF Number"
          maxLength: 11
          minLength: 11
          pattern: ^\d*$
          type: string
      required:
      - cpfNumber
      type: object
    BrazilDigitalCnhInput:
      additionalProperties: false
      properties:
        cpfNumber:
          description: "The user's 11-digit, numeric CPF Number"
          maxLength: 11
          minLength: 11
          pattern: ^\d*$
          type: string
        digitalCnhFile:
          description: The raw bytes of the digital CNH file collected from the user.
          format: byte
          nullable: true
          type: string
        digitalCnhFileContentType:
          description: "The MIME Type of the file contained in `DigitalCnhFile`.\n\
            \            \nMust be one of `application/pdf`, `image/jpeg`, or `image/png`."
          nullable: true
          type: string
        facialBiometryPhoto:
          description: "The raw bytes of the image of the user's face, collected for\
            \ biometric comparison."
          format: byte
          nullable: true
          type: string
      required:
      - cpfNumber
      type: object
    CancelSessionResponse:
      additionalProperties: false
      example:
        session: ""
      properties:
        session:
          allOf:
          - $ref: '#/components/schemas/Session'
      required:
      - session
      type: object
    ContractField:
      additionalProperties: false
      description: Information about a field that a Provider will return in verification
        results.
      example:
        name: person.givenName
        outputted: Always
      properties:
        name:
          description: The name of the field as it appears in verification results.
          example: person.givenName
          type: string
        outputted:
          allOf:
          - $ref: '#/components/schemas/FieldAvailability'
          description: Indicates when this field will be present in verification results.
          example: Always
          x-enumDescriptions:
            Never: This field will never be present in verification results.
            Sometimes: This field may or may not be present depending on the verification
              context.
            Always: This field will always be present in verification results.
      required:
      - name
      - outputted
      type: object
    CreateDirectProviderSessionRequest:
      additionalProperties: false
      example:
        fallbackToHostedUI: true
        redirectUrl: redirectUrl
        capabilities:
        - LaunchBrowser
        - LaunchBrowser
        provider: provider
        providerInput: ""
        verificationProfileId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        provider:
          description: The ID of the provider to launch
          minLength: 1
          type: string
        verificationProfileId:
          description: The ID of the Verification Profile to use for this session.
          format: uuid
          type: string
        redirectUrl:
          description: "The Redirect URL to which the user should be sent after the\
            \ session is complete.\n            \nThis field is required for providers\
            \ which employ a redirect-based flow."
          nullable: true
          type: string
        capabilities:
          description: "The list of capabilities your integration supports. Capabilities\
            \ are the core of Trinsic's whitelabel-with-optional-fallback offering.\n\
            \            \nMost capabilities align with either an `IntegrationLaunchMethod`\
            \ or an `IntegrationCollectionMethod`.\nThe exception being refresh content\
            \ to support updating the content of the launch method.\n            \n\
            For example, to support a basic redirect-based flow, you must include\
            \ the `LaunchRedirect` and `CaptureRedirect` capabilities.\nTo support\
            \ a mobile deeplink / polling flow, you must include the `DeeplinkToMobile`\
            \ and `PollForResults` capabilities.\n            \nIf `FallbackToHostedUi`\
            \ is `true`, Trinsic will automatically fall back to a Trinsic-hosted\
            \ UI to cover any gaps in your integration's capabilities.\nIf `FallbackToHostedUi`\
            \ is `false`, gaps in your integration's capabilities will result in an\
            \ error during Session creation.\n            \nRead more on how to integrate\
            \ at <a href=\"https://docs.trinsic.id/docs/direct-provider-sessions\"\
            >the guide on Direct Provider Sessions</a>"
          items:
            $ref: '#/components/schemas/IntegrationCapability'
          minItems: 1
          type: array
        fallbackToHostedUI:
          description: "Whether the session should fall back to a Trinsic-hosted UI\
            \ in certain instances.\n            \nSpecifically, fallback will occur\
            \ if any of the following are true:\n- You attempted to launch a provider\
            \ which requires a capability you did not express support for\n    - In\
            \ this case, Trinsic's hosted UI will perform the necessary capability\n\
            - You attempted to launch a provider which requires input, and the input\
            \ was either not provided or incomplete\n    - In this case, Trinsic's\
            \ hosted UI will collect the necessary input from the user\n         \
            \   \nIf fallback occurs, the session's NextStep will always be LaunchBrowser,\n\
            and the CollectionMethod will always be CaptureRedirect.\n           \
            \ \nIf this field is set to `true`, you must also:\n1. Set the `RedirectUrl`\
            \ field to a non-empty value\n2. Include the `LaunchBrowser` and `CaptureRedirect`\
            \ capabilities in the `Capabilities` field"
          nullable: true
          type: boolean
        providerInput:
          allOf:
          - $ref: '#/components/schemas/ProviderInput'
          description: Provider-specific input for those providers which require it.
          nullable: true
      required:
      - capabilities
      - provider
      - verificationProfileId
      type: object
    CreateDirectProviderSessionResponse:
      additionalProperties: false
      example:
        resultCollection: ""
        nextStep: ""
        sessionId: 00000000-0000-0000-0000-000000000000
      properties:
        sessionId:
          description: The ID of the newly-created Acceptance Session
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        resultCollection:
          allOf:
          - $ref: '#/components/schemas/ResultCollection'
          description: The method by which you must collect the results of the Acceptance
            Session.
        nextStep:
          allOf:
          - $ref: '#/components/schemas/IntegrationStep'
          description: The next step you must take to launch the user into the integration
      required:
      - nextStep
      - resultCollection
      - sessionId
      type: object
    CreateHostedProviderSessionRequest:
      additionalProperties: false
      example:
        redirectUrl: redirectUrl
        provider: provider
        providerInput: ""
        verificationProfileId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        provider:
          description: The ID of the provider to launch
          minLength: 1
          type: string
        verificationProfileId:
          description: The ID of the Verification Profile to use for this session.
          format: uuid
          type: string
        redirectUrl:
          description: The Redirect URL to which the user should be sent after the
            session is complete.
          minLength: 1
          type: string
        providerInput:
          allOf:
          - $ref: '#/components/schemas/ProviderInput'
          deprecated: true
          description: |-
            Provider-specific input for those providers which require it.


            <b>Deprecated:</b> In the future, Hosted Provider Sessions will not accept input on creation,
            and will instead always redirect the user to a hosted interface to collect input. If you need
            to collect input from the user yourself, please use the Create Direct Session endpoint instead.
          nullable: true
      required:
      - provider
      - redirectUrl
      - verificationProfileId
      type: object
    CreateHostedProviderSessionResponse:
      example:
        sessionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        launchUrl: https://api.trinsic.id/api/session/launch?clientToken=...
        resultsAccessKey: 417zNGHMJp6Ht2jCoktTLNGDRZEt4BqTwwQ8Q9ZaQz8aS4Jd7nD1xff2WLhPS69j5q9QT4gvgV79Gv7QtaXwu5YC9Utr35...
      properties:
        sessionId:
          description: The ID of the newly-created Acceptance Session
          format: uuid
          type: string
        launchUrl:
          description: "The URL that should be used to launch the Hosted Provider\
            \ Session on your user's device.\n            \nThere are two recommended\
            \ ways to do so:\n- Redirect their browser to the `LaunchUrl` as a top-level\
            \ navigation\n- Open a popup window and navigate it to the `LaunchUrl`\n\
            \            \nThis URL is sensitive and as such can only be obtained\
            \ once. If you need to obtain it again, you will need to create a new\
            \ Acceptance Session."
          example: https://api.trinsic.id/api/session/launch?clientToken=...
          type: string
        resultsAccessKey:
          description: "The `resultsAccessKey` for the Acceptance Session.\n     \
            \       \nThis is an encrypted payload which contains the decryption key\
            \ necessary to access the Session's Data Vault.\n            \nSave this\
            \ securely in your systems; it must be passed back with any API call which\
            \ requires access to the Session's Data Vault.\n            \nTrinsic\
            \ cannot access a Session's Data Vault without this key."
          example: 417zNGHMJp6Ht2jCoktTLNGDRZEt4BqTwwQ8Q9ZaQz8aS4Jd7nD1xff2WLhPS69j5q9QT4gvgV79Gv7QtaXwu5YC9Utr35...
          type: string
      required:
      - launchUrl
      - resultsAccessKey
      - sessionId
      type: object
    CreateMdlExchangeRequest:
      additionalProperties: false
      description: Request to create an mDL Exchange.
      example:
        androidNativeAppSigningCertificateFingerprint: 96:77:82:71:A3:FC:26:54:4C:8E:06:70:B7:BA:5D:E2:A5:36:F1:ED:8F:8A:70:81:26:98:EC:87:86:0F:D4:42
        androidNativeAppPackageName: id.trinsic.example
        nameSpaces:
          org.iso.18013.5.1:
            given_name: true
            family_name: true
            birth_date: true
            age_over_21: true
        provider: google-wallet
        documentType: org.iso.18013.5.1.mDL
        digitalCredentialsApiHost: verify.trinsic.id
        verificationProfileId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        exchangeMechanism: DigitalCredentialsApi
      properties:
        verificationProfileId:
          description: The ID of the VerificationProfile to use for this mDL exchange.
          format: uuid
          type: string
        provider:
          description: The ID of the provider to use for this mDL exchange.
          example: google-wallet
          type: string
        exchangeMechanism:
          allOf:
          - $ref: '#/components/schemas/MdlExchangeMechanism'
          description: "The mechanism by which the mDL exchange will occur (web, native\
            \ SDK, etc.)"
          example: DigitalCredentialsApi
          x-enumDescriptions:
            NativeApp: "The mDL exchange will be performed using a native mobile app\
              \ SDK (e.g. Google Wallet, Apple Wallet)."
            DigitalCredentialsApi: The mDL exchange will be performed using the Digital
              Credentials API on web.
        documentType:
          description: "The document type to request from the wallet.\n          \
            \  \nTypically, this is one of the following values:\n            \n-\
            \ `org.iso.18013.5.1.mDL` (Mobile Driver's License)\n- `com.google.wallet.idcard.1`\
            \ (Google Wallet ID Pass)"
          example: org.iso.18013.5.1.mDL
          type: string
        nameSpaces:
          additionalProperties:
            additionalProperties:
              type: boolean
            type: object
          description: "The namespaces and fields to request from the mDL.\n     \
            \       \nThis is a nested map / dictionary. The outer dictionary's keys\
            \ are namespaces (e.g. \"org.iso.18013.5.1\").\nThe inner dictionary's\
            \ keys are field names within each namespace, with boolean values indicating\n\
            whether the specified field will be retained post-verification."
          example:
            org.iso.18013.5.1:
              given_name: true
              family_name: true
              birth_date: true
              age_over_21: true
          type: object
        digitalCredentialsApiHost:
          description: "If using the `DigitalCredentialsApi` exchange mechanism, this\
            \ is the hostname on which\nthe Digital Credentials API will be called.\n\
            \            \nFor example, if the user is on the page `https://foo.example.com/verify-mdl`,\
            \ the proper value to use\nis `foo.example.com`.\n            \nPresent\
            \ for ease of testing only. May be removed as this API is stabilized."
          example: verify.trinsic.id
          nullable: true
          type: string
        androidNativeAppPackageName:
          description: "If using the `NativeApp` exchange mechanism with the `google-wallet`\
            \ provider, this is the package name\nof the Android App which will execute\
            \ the mDL exchange.\n            \nThis should be set to the package name\
            \ of your app.\n            \nPresent for ease of testing only. May be\
            \ removed as this API is stabilized."
          example: id.trinsic.example
          nullable: true
          type: string
        androidNativeAppSigningCertificateFingerprint:
          description: "If using the `NativeApp` exchange mechanism with the `google-wallet`\
            \ provider, this is the SHA-256\nfingerprint of the signing certificate\
            \ used to sign the Android App which will execute the mDL exchange.\n\
            \            \nPresent for ease of testing only. May be removed as this\
            \ API is stabilized."
          example: 96:77:82:71:A3:FC:26:54:4C:8E:06:70:B7:BA:5D:E2:A5:36:F1:ED:8F:8A:70:81:26:98:EC:87:86:0F:D4:42
          nullable: true
          type: string
      required:
      - documentType
      - exchangeMechanism
      - nameSpaces
      - provider
      - verificationProfileId
      type: object
    CreateMdlExchangeResponse:
      additionalProperties: false
      example:
        exchangeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        requestObjectBase64Url: requestObjectBase64Url
        exchangeContext: exchangeContext
      properties:
        exchangeId:
          description: The ID of the mDL exchange which was created.
          format: uuid
          type: string
        requestObjectBase64Url:
          description: "The request object for this mDL exchange.\n            \n\
            Pass this into a Trinsic mDL SDK (Web, iOS, Android) exactly as-is to\
            \ initiate the mDL exchange."
          type: string
        exchangeContext:
          description: "The encrypted exchange context for this mDL exchange.\n  \
            \          \nThis must be passed back to the API during finalization,\
            \ alongside the response token from the wallet."
          type: string
      required:
      - exchangeContext
      - exchangeId
      - requestObjectBase64Url
      type: object
    CreateWidgetSessionRequest:
      additionalProperties: false
      example:
        redirectUrl: redirectUrl
        verificationProfileId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        recommendationInfo: ""
        providers:
        - providers
        - providers
      properties:
        verificationProfileId:
          description: The ID of the Verification Profile to use for this session.
          format: uuid
          type: string
        redirectUrl:
          description: "The URL to redirect the user to after the widget session is\
            \ complete.\n            \n*Note*: this should NOT be set if you intend\
            \ to use Trinsic's Web UI SDK to launch the Widget\nas a popup; in that\
            \ case, session resolution is handled by our SDK, not via redirect."
          nullable: true
          type: string
        providers:
          description: "The list of allowed identity providers. If not specified,\
            \ all available providers will be allowed."
          items:
            type: string
          nullable: true
          type: array
        recommendationInfo:
          allOf:
          - $ref: '#/components/schemas/RecommendationInfo'
          description: |-
            Data that you already know about the user being verified.


            This data is used to improve the user experience during provider selection, by surfacing the most relevant providers first.
          nullable: true
      required:
      - verificationProfileId
      type: object
    CreateWidgetSessionResponse:
      example:
        sessionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        launchUrl: https://api.trinsic.id/api/session/launch?clientToken=...
        resultsAccessKey: 417zNGHMJp6Ht2jCoktTLNGDRZEt4BqTwwQ8Q9ZaQz8aS4Jd7nD1xff2WLhPS69j5q9QT4gvgV79Gv7QtaXwu5YC9Utr35...
      properties:
        sessionId:
          description: The ID of the newly-created Acceptance Session
          format: uuid
          type: string
        launchUrl:
          description: "The URL that should be used to invoke the Acceptance Session\
            \ on your user's device.\n            \nYou can use our frontend SDKs\
            \ to launch the user into the Acceptance Session, or you can redirect\
            \ the user's browser to this URL.\n            \nThis URL is sensitive\
            \ and as such can only be obtained once. If you need to obtain it again,\
            \ you will need to create a new Acceptance Session."
          example: https://api.trinsic.id/api/session/launch?clientToken=...
          type: string
        resultsAccessKey:
          description: "The `resultsAccessKey` for the Acceptance Session.\n     \
            \       \nThis is an encrypted payload which contains the decryption key\
            \ necessary to access the Session's Data Vault.\n            \nSave this\
            \ securely in your systems; it must be passed back with any API call which\
            \ requires access to the Session's Data Vault.\n            \nTrinsic\
            \ cannot access a Session's Data Vault without this key."
          example: 417zNGHMJp6Ht2jCoktTLNGDRZEt4BqTwwQ8Q9ZaQz8aS4Jd7nD1xff2WLhPS69j5q9QT4gvgV79Gv7QtaXwu5YC9Utr35...
          type: string
      required:
      - launchUrl
      - resultsAccessKey
      - sessionId
      type: object
    DocumentData:
      additionalProperties: false
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/DocumentType'
          nullable: true
        number:
          nullable: true
          type: string
        issueDate:
          format: date
          nullable: true
          type: string
        expirationDate:
          format: date
          nullable: true
          type: string
        issuingCountry:
          nullable: true
          type: string
        issuingAuthority:
          nullable: true
          type: string
      type: object
    DocumentScanAttachments:
      additionalProperties: false
      properties:
        report:
          nullable: true
          type: string
      type: object
    DocumentType:
      enum:
      - Passport
      - DriversLicense
      - NationalId
      - IdCard
      - Other
      type: string
      x-enumDescriptions:
        Passport: ""
        DriversLicense: ""
        NationalId: ""
        IdCard: ""
        Other: ""
    ExternalMdlFieldData:
      additionalProperties: false
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/MdlFieldDataType'
          description: The type of data contained in `value`.
          example: String
          x-enumDescriptions:
            String: "A raw string value, e.g. \"John\""
            Boolean: "A boolean value, e.g. \"true\""
            Number: "A numeric value, e.g. \"1234.56\", \"-1\", \"53\""
            Base64Url: "Base64url-encoded binary data, e.g. a JPEG image."
            EncodedCbor: "An encoded CBOR object which cannot be cleanly represented\
              \ as a simple string.\n            \nWhen this type is used, the `value`\
              \ field contains a base64url-encoded byte array of the raw CBOR data."
        value:
          description: The string-encoded value of the field.
          example: 123 Fake St
          type: string
      required:
      - type
      - value
      type: object
    FieldAvailability:
      description: Indicates when a field will be available in verification results.
      enum:
      - Never
      - Sometimes
      - Always
      type: string
      x-enumDescriptions:
        Never: This field will never be present in verification results.
        Sometimes: This field may or may not be present depending on the verification
          context.
        Always: This field will always be present in verification results.
    FinalizeMdlExchangeRequest:
      additionalProperties: false
      example:
        exchangeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        verificationProfileId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        responseToken: responseToken
        exchangeContext: exchangeContext
      properties:
        verificationProfileId:
          description: The ID of the VerificationProfile which was used to create
            the mDL exchange.
          format: uuid
          type: string
        exchangeId:
          description: The ID of the mDL exchange to finalize.
          format: uuid
          type: string
        exchangeContext:
          description: The encrypted exchange context which was returned when the
            mDL exchange was created.
          type: string
        responseToken:
          description: The response token returned by Trinsic's SDK after a successful
            mDL exchange.
          type: string
      required:
      - exchangeContext
      - exchangeId
      - responseToken
      - verificationProfileId
      type: object
    FinalizeMdlExchangeResponse:
      additionalProperties: false
      example:
        exchangeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        mdlData: ""
        normalizedIdentityData: ""
        createdSession: ""
      properties:
        exchangeId:
          description: The Exchange ID of the mDL exchange which was just finalized.
          format: uuid
          type: string
        createdSession:
          allOf:
          - $ref: '#/components/schemas/Session'
          description: The AcceptanceSession which was created as a result of finalizing
            this mDL exchange.
        mdlData:
          allOf:
          - $ref: '#/components/schemas/MdlIdentityData'
          description: "The identity data from the mDL exchange, in a semi-normalized\
            \ format.\n            \nSupports all possible fields and namespaces,\
            \ but does not map them to Trinsic's common data model."
          nullable: true
        normalizedIdentityData:
          allOf:
          - $ref: '#/components/schemas/IdentityData'
          description: "The identity data from the mDL exchange, normalized into Trinsic's\
            \ common data model."
          nullable: true
      required:
      - createdSession
      - exchangeId
      type: object
    GetAttachmentRequest:
      additionalProperties: false
      example:
        attachmentAccessKey: attachmentAccessKey
        sessionId: 00000000-0000-0000-0000-000000000000
      properties:
        attachmentAccessKey:
          description: The Attachment Access Key to exchange for the raw file contents
            of the related Attachment
          minLength: 1
          type: string
        sessionId:
          description: The ID of the Acceptance Session for which the Attachment is
            being requested.
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
      required:
      - attachmentAccessKey
      - sessionId
      type: object
    GetAttachmentResponse:
      additionalProperties: false
      example:
        contentType: contentType
        content: content
      properties:
        content:
          description: The raw file contents of the Attachment
          format: byte
          type: string
        contentType:
          description: The MIME type of the Attachment data
          type: string
      required:
      - content
      - contentType
      type: object
    GetSessionResponse:
      additionalProperties: false
      example:
        session: ""
      properties:
        session:
          allOf:
          - $ref: '#/components/schemas/Session'
      required:
      - session
      type: object
    GetSessionResultRequest:
      additionalProperties: false
      example:
        resultsAccessKey: resultsAccessKey
      properties:
        resultsAccessKey:
          description: The Results Access Key to exchange
          type: string
      required:
      - resultsAccessKey
      type: object
    GetSessionResultResponse:
      additionalProperties: false
      example:
        session: ""
        identityData: ""
      properties:
        session:
          allOf:
          - $ref: '#/components/schemas/Session'
        identityData:
          allOf:
          - $ref: '#/components/schemas/IdentityData'
          nullable: true
      required:
      - session
      type: object
    GoogleWalletInput:
      additionalProperties: false
      properties:
        exchangeMechanism:
          allOf:
          - $ref: '#/components/schemas/MdlExchangeMechanism'
          description: "The exchange mechanism to use for this Google Wallet verification.\n\
            \            \nUse `DigitalCredentialsApi` for Digital Credentials API\
            \ on web, or `NativeApp` for a native Android app."
          nullable: true
      type: object
    HttpValidationProblemDetails:
      allOf:
      - $ref: '#/components/schemas/ProblemDetails'
      - additionalProperties: {}
        properties:
          errors:
            additionalProperties:
              items:
                type: string
              type: array
            type: object
        type: object
    IdentityData:
      additionalProperties: false
      properties:
        originatingProviderId:
          nullable: true
          type: string
        originatingSubProviderId:
          nullable: true
          type: string
        person:
          allOf:
          - $ref: '#/components/schemas/PersonData'
          nullable: true
        document:
          allOf:
          - $ref: '#/components/schemas/DocumentData'
          nullable: true
        match:
          allOf:
          - $ref: '#/components/schemas/MatchData'
          nullable: true
        attachmentAccessKeys:
          allOf:
          - $ref: '#/components/schemas/AttachmentAccessKeys'
          nullable: true
      type: object
    IdinInput:
      additionalProperties: false
      properties:
        subProviderId:
          description: "The ID of the specific bank to invoke with IDIN.\n       \
            \     \nIf not specified, the user will be prompted to select a bank."
          nullable: true
          type: string
      type: object
    IndonesiaDukcapilMatchInput:
      additionalProperties: false
      properties:
        fullName:
          description: The user's full name
          nullable: true
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          nullable: true
          type: string
        nikIdNumber:
          description: The user's Indonesia NIK ID number
          nullable: true
          type: string
        email:
          description: "The email address of the individual.\n            \nEither\
            \ email or phone number must be provided."
          nullable: true
          type: string
        phoneNumber:
          description: "The phone number of the individual.\n            \nEither\
            \ email or phone number must be provided."
          nullable: true
          type: string
        selfieImage:
          description: "The raw bytes of the selfie image of the individual.\n   \
            \         \nMust be JPEG or PNG format; 10MB maximum."
          format: byte
          nullable: true
          type: string
        documentImage:
          description: "The raw bytes of the image of the individual's KTP government\
            \ ID.\n            \nMust be JPEG format; 1MB maximum.\n            \n\
            Optional."
          format: byte
          nullable: true
          type: string
        consentGivenAt:
          description: The timestamp when consent was given by the user for the verification.
          format: date-time
          nullable: true
          type: string
      type: object
    IndonesiaNikInput:
      additionalProperties: false
      properties:
        fullName:
          description: The user's full name
          minLength: 1
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          type: string
        nikIdNumber:
          description: The user's Indonesia NIK ID number
          maxLength: 16
          minLength: 16
          pattern: ^\d*$
          type: string
      required:
      - dateOfBirth
      - fullName
      - nikIdNumber
      type: object
    IntegrationCapability:
      enum:
      - LaunchBrowser
      - DeeplinkToMobile
      - ShowContent
      - RefreshStepContent
      - CaptureRedirect
      - PollResult
      - PollAfterRedirect
      - NativeChallenge
      type: string
      x-enumDescriptions:
        LaunchBrowser: Signals that your integration supports the `LaunchBrowser`
          step type.
        DeeplinkToMobile: Signals that your integration supports the `DeeplinkToMobile`
          step type.
        ShowContent: Signals that your integration supports the `ShowContent` step
          type.
        RefreshStepContent: "Signals that your integration supports refreshable step\
          \ content, e.g., time-limited mobile deeplinks."
        CaptureRedirect: Signals that your integration supports the `CaptureRedirect`
          results collection method.
        PollResult: Signals that your integration supports the `PollResult` results
          collection method.
        PollAfterRedirect: "Signals that your integration supports polling after the\
          \ user has been redirected back to your application.\n            \nThis\
          \ is necessary for Providers which make results available asynchronously,\
          \ where the user is redirected back to your application before the results\
          \ are available."
        NativeChallenge: "Signals that your integration supports the `PerformNativeChallenge`\
          \ step type, paired with the `SubmitNativeChallengeResponse` collection\
          \ method.\n            \n`NativeChallenge` currently refers only to a native\
          \ mDL exchange API, such as Digital Credentials API on web\nor the Android\
          \ / iOS native app equivalents."
    IntegrationLaunchMethod:
      enum:
      - LaunchBrowser
      - None
      - DeeplinkToMobile
      - ShowContent
      - PerformNativeChallenge
      type: string
      x-enumDescriptions:
        LaunchBrowser: "The user's browser should be sent to the provided URL, either\
          \ in a new tab, pop-up, or top-level navigation."
        None: |-
          No action needs to be taken by the user; simply poll with the provided `resultsAccessKey`
          for the results of the session.
        DeeplinkToMobile: "The user must be sent to the provided URL, which is a mobile\
          \ deeplink.\n            \nThe URL should be shown as a button on mobile,\
          \ or as a QR code on desktop."
        ShowContent: Content must be displayed to the user to guide them through the
          process of verifying their identity.
        PerformNativeChallenge: "A challenge must be sent to a native API on the user's\
          \ device, such as the Digital Credentials API on web,\nor the equivalent\
          \ mDL exchange APIs on Android or iOS.\n            \nUse Trinsic's UI SDKs\
          \ on Web, Android, or iOS to streamline this process."
    IntegrationStep:
      additionalProperties: false
      description: A step to perform in the process of executing an Direct Provider
        Session
      properties:
        method:
          allOf:
          - $ref: '#/components/schemas/IntegrationLaunchMethod'
          description: The launch method to perform
          example: LaunchBrowser
          x-enumDescriptions:
            LaunchBrowser: "The user's browser should be sent to the provided URL,\
              \ either in a new tab, pop-up, or top-level navigation."
            None: |-
              No action needs to be taken by the user; simply poll with the provided `resultsAccessKey`
              for the results of the session.
            DeeplinkToMobile: "The user must be sent to the provided URL, which is\
              \ a mobile deeplink.\n            \nThe URL should be shown as a button\
              \ on mobile, or as a QR code on desktop."
            ShowContent: Content must be displayed to the user to guide them through
              the process of verifying their identity.
            PerformNativeChallenge: "A challenge must be sent to a native API on the\
              \ user's device, such as the Digital Credentials API on web,\nor the\
              \ equivalent mDL exchange APIs on Android or iOS.\n            \nUse\
              \ Trinsic's UI SDKs on Web, Android, or iOS to streamline this process."
        content:
          description: "Step type-specific content related to the step: a URL for\
            \ `LaunchBrowser`, a deeplink for `DeeplinkToMobile` or a string to show\
            \ to the user for `ShowContent`."
          example: https://api.trinsic.id/api/session/launch?clientToken=...
          type: string
        refresh:
          allOf:
          - $ref: '#/components/schemas/StepRefreshInfo'
          description: "If non-null, contains metadata about how to refresh the value\
            \ of `content`."
          nullable: true
      required:
      - content
      - method
      type: object
    KenyaNidInput:
      additionalProperties: false
      properties:
        firstName:
          description: The user's first name as it appears in their National ID
          minLength: 1
          type: string
        middleName:
          description: The user's middle name as it appears in their National ID (optional)
          nullable: true
          type: string
        lastName:
          description: The user's middle name as it appears in their National ID (optional)
          minLength: 1
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          type: string
        gender:
          description: "The user's gender as it appears in their National ID (e.g.,\
            \ male, female)"
          minLength: 1
          type: string
        nationalIdNumber:
          description: The user's South Kenya National ID number
          maxLength: 8
          minLength: 8
          pattern: ^\d*$
          type: string
      required:
      - dateOfBirth
      - firstName
      - gender
      - lastName
      - nationalIdNumber
      type: object
    Language:
      enum:
      - LIT
      - EST
      - ENG
      - RUS
      type: string
      x-enumDescriptions:
        LIT: ""
        EST: ""
        ENG: ""
        RUS: ""
    ListProviderContractsResponse:
      additionalProperties: false
      example:
        providerContracts:
        - collectionMethod: PollResult
          availableFields:
          - name: person.givenName
            outputted: Always
          - name: person.givenName
            outputted: Always
          subtext: dmv.ca.gov
          regions:
          - United States
          hasTrinsicInterface: true
          available: true
          description: dmv.ca.gov
          requiresInput: false
          health: Offline
          launchMethod: DeeplinkToMobile
          logoUrl: https://content.trinsic.id/connect/integrations/ca-dmv.png
          supportsAdvancedProviderSessions: true
          geography:
          - CA
          name: CA DMV
          resultsMayBeDelayedAfterRedirect: false
          supportsDirectProviderSessions: true
          hasRefreshableContent: false
          id: usa-california-dmv
          subProviders:
          - subtext: dmv.ca.gov
            name: name
            description: dmv.ca.gov
            id: id
            logoUrl: logoUrl
          - subtext: dmv.ca.gov
            name: name
            description: dmv.ca.gov
            id: id
            logoUrl: logoUrl
        - collectionMethod: PollResult
          availableFields:
          - name: person.givenName
            outputted: Always
          - name: person.givenName
            outputted: Always
          subtext: dmv.ca.gov
          regions:
          - United States
          hasTrinsicInterface: true
          available: true
          description: dmv.ca.gov
          requiresInput: false
          health: Offline
          launchMethod: DeeplinkToMobile
          logoUrl: https://content.trinsic.id/connect/integrations/ca-dmv.png
          supportsAdvancedProviderSessions: true
          geography:
          - CA
          name: CA DMV
          resultsMayBeDelayedAfterRedirect: false
          supportsDirectProviderSessions: true
          hasRefreshableContent: false
          id: usa-california-dmv
          subProviders:
          - subtext: dmv.ca.gov
            name: name
            description: dmv.ca.gov
            id: id
            logoUrl: logoUrl
          - subtext: dmv.ca.gov
            name: name
            description: dmv.ca.gov
            id: id
            logoUrl: logoUrl
      properties:
        providerContracts:
          description: "Contracts for all Providers available to your App, filtered\
            \ by your App's current test mode setting."
          items:
            $ref: '#/components/schemas/ProviderContract'
          type: array
      required:
      - providerContracts
      type: object
    ListProvidersResponse:
      additionalProperties: false
      example:
        providers:
        - subtext: dmv.ca.gov
          name: Yoti | CLEAR | ...
          description: dmv.ca.gov
          health: online | offline
          id: yoti | clear | ...
          subProviders:
          - subtext: dmv.ca.gov
            name: name
            description: dmv.ca.gov
            id: id
            logoUrl: logoUrl
          - subtext: dmv.ca.gov
            name: name
            description: dmv.ca.gov
            id: id
            logoUrl: logoUrl
          logoUrl: logoUrl
        - subtext: dmv.ca.gov
          name: Yoti | CLEAR | ...
          description: dmv.ca.gov
          health: online | offline
          id: yoti | clear | ...
          subProviders:
          - subtext: dmv.ca.gov
            name: name
            description: dmv.ca.gov
            id: id
            logoUrl: logoUrl
          - subtext: dmv.ca.gov
            name: name
            description: dmv.ca.gov
            id: id
            logoUrl: logoUrl
          logoUrl: logoUrl
      properties:
        providers:
          description: The list of identity providers available to your account
          items:
            $ref: '#/components/schemas/ProviderInfo'
          type: array
      required:
      - providers
      type: object
    ListSessionsResponse:
      additionalProperties: false
      example:
        sessions:
        - success: true
          created: 1722526411
          errorCode: ""
          id: 678c1ff6-2178-49e7-81d2-548afb6f85ec
          done: true
          updated: 1722526722
        - success: true
          created: 1722526411
          errorCode: ""
          id: 678c1ff6-2178-49e7-81d2-548afb6f85ec
          done: true
          updated: 1722526722
        total: 101
        more: true
      properties:
        sessions:
          items:
            $ref: '#/components/schemas/Session'
          type: array
        total:
          description: The total number of sessions tied to your account
          example: 101
          format: int32
          type: integer
        more:
          description: Whether there are additional pages of sessions to retrieve
          example: true
          type: boolean
      required:
      - more
      - sessions
      - total
      type: object
    Match:
      additionalProperties: false
      properties:
        probabilityValue:
          format: double
          nullable: true
          type: number
        booleanValue:
          nullable: true
          type: boolean
[...]
