openapi: 3.0.4
info:
  title: Trinsic API
  version: v1
  x-swaggerexclude: External
servers:
- description: Production server
  url: https://api.trinsic.id
security:
- Bearer: []
paths:
  /api/v1/providers:
    get:
      description: "List all identity providers available to your Organization, including\
        \ their license status."
      operationId: ListProviders
      parameters:
      - description: "Filter by license status. If not specified, returns all providers."
        explode: true
        in: query
        name: licensed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: List Providers
      tags:
      - Providers
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/valpha/redirect-uris:
    get:
      description: List registered Redirect URIs for the authenticated environment
      operationId: List
      parameters:
      - description: Number of pages of uris to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: Size of the list to be returned. Accepted range from 1 to 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ListRedirectUrisResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ListRedirectUrisResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListRedirectUrisResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: List Redirect URIs
      tags:
      - RedirectUris
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
    post:
      description: Add a new redirect uri to the authenticated environment.
      operationId: Add
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddRedirectUriRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddRedirectUriRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddRedirectUriRequest'
        description: "Request for uri to add to the environment. Must be absolute,\
          \ not relative. Wildcard \"*\" accepted."
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AddRedirectUriResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AddRedirectUriResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AddRedirectUriResponse'
          description: Created
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Add Redirect URI
      tags:
      - RedirectUris
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/valpha/redirect-uris/{id}:
    delete:
      description: Delete a redirect uri from the environment.
      operationId: Delete
      parameters:
      - description: The id of the redirect uri to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Delete Redirect URI
      tags:
      - RedirectUris
      x-accepts:
      - application/problem+json
  /api/v1/sessions/{sessionId}/attachments/{attachmentId}/get:
    post:
      description: Fetch an Attachment's contents.
      operationId: GetAttachment
      parameters:
      - description: The ID of the Session to fetch the Attachment from
        explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the Attachment to fetch
        explode: false
        in: path
        name: attachmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetAttachmentRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetAttachmentRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetAttachmentRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetAttachmentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetAttachmentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetAttachmentResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Get Attachment
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/verification-profiles/{verificationProfileId}/sessions:
    get:
      description: List Sessions created for a specific Verification Profile
      operationId: ListSessions
      parameters:
      - explode: false
        in: path
        name: verificationProfileId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The field by which sessions should be ordered
        example: Created
        explode: true
        in: query
        name: OrderBy
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/SessionOrdering'
          example: Created
        style: form
      - example: Descending
        explode: true
        in: query
        name: OrderDirection
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/OrderDirection'
          example: Descending
        style: form
      - description: The number of items to return per page -- must be between `1`
          and `50`
        example: 50
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          example: 50
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: The page number to return -- starts at `1`
        example: 1
        explode: true
        in: query
        name: Page
        required: false
        schema:
          example: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ListSessionsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ListSessionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListSessionsResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: List Sessions
      tags:
      - Sessions
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}:
    get:
      description: Get a Session by its ID
      operationId: GetSession
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetSessionResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Get Session
      tags:
      - Sessions
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/results:
    post:
      operationId: GetSessionResult
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetSessionResultRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetSessionResultRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetSessionResultRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetSessionResultResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetSessionResultResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetSessionResultResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Get Session Results
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/cancel:
    post:
      description: Cancel a Session by its ID
      operationId: CancelSession
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CancelSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CancelSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CancelSessionResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Cancel Session
      tags:
      - Sessions
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/redact:
    post:
      description: |-
        Redact a Session, removing all identity data from Trinsic's servers.
        Every verification profile has a redaction period that dictates how long we will hold on to your users' PII data. Once a session falls outside the redaction cutoff date, all PII will automatically be removed from that session.
        You can utilize this endpoint to redact a session immediately.
      operationId: RedactSession
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Redact Session
      tags:
      - Sessions
      x-accepts:
      - application/problem+json
  /api/v1/sessions/provider/direct:
    post:
      description: "Verify a user's identity with a specific provider, handling additional\
        \ user interaction in your own UI. \n\nSignal which kinds of user interactions\
        \ your UI can handle using the `Capabilities` field. \n\nIf `FallbackToHostedUi`\
        \ is `true`, Trinsic's hosted UI will automatically be invoked to handle any\
        \ capabilities you do not support."
      operationId: CreateDirectProviderSession
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateDirectProviderSessionRequest'
              required:
              - verificationProfileId
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateDirectProviderSessionRequest'
              required:
              - verificationProfileId
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateDirectProviderSessionRequest'
              required:
              - verificationProfileId
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreateDirectProviderSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDirectProviderSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateDirectProviderSessionResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Create Direct Provider Session
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/step/refresh:
    post:
      description: Refreshes the content of a Step for a Direct Provider Session.
      operationId: RefreshStepContent
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RefreshStepContentRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RefreshStepContentRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RefreshStepContentRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RefreshStepContentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshStepContentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RefreshStepContentResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Refresh Step Content
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/{sessionId}/native-challenge/submit:
    post:
      description: "Submits the response from a Native Challenge (e.g., mDL exchange\
        \ via DC API) and processes the results."
      operationId: SubmitNativeChallengeResponse
      parameters:
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SubmitNativeChallengeResponseRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SubmitNativeChallengeResponseRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SubmitNativeChallengeResponseRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SubmitNativeChallengeResponseResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitNativeChallengeResponseResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/SubmitNativeChallengeResponseResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Submit Native Challenge Response
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/provider/hosted:
    post:
      description: "Verify a user's identity with a specific provider, using Trinsic-hosted\
        \ UI for providers which require additional user interaction."
      operationId: CreateHostedProviderSession
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateHostedProviderSessionRequest'
              required:
              - verificationProfileId
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateHostedProviderSessionRequest'
              required:
              - verificationProfileId
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateHostedProviderSessionRequest'
              required:
              - verificationProfileId
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreateHostedProviderSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreateHostedProviderSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateHostedProviderSessionResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Create Hosted Provider Session
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/providers/recommend:
    post:
      description: |-
        Recommend providers for a specific user session.
        You can filter based on health (default=online) and specify country and subdivision information.
        Trinsic will use the phone number and IP address, if provided, to deduce the country and subdivision of the user and use that info for filtering the providers.
      operationId: RecommendProviders
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RecommendProvidersRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RecommendProvidersRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RecommendProvidersRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RecommendProvidersResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendProvidersResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RecommendProvidersResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Recommend Providers
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/v1/sessions/widget:
    post:
      description: Verify a user's identity using Trinsic's hosted Widget flow.
      operationId: CreateWidgetSession
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateWidgetSessionRequest'
              required:
              - verificationProfileId
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateWidgetSessionRequest'
              required:
              - verificationProfileId
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateWidgetSessionRequest'
              required:
              - verificationProfileId
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreateWidgetSessionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWidgetSessionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateWidgetSessionResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Create Widget Session
      tags:
      - Sessions
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/valpha/verification-profiles:
    get:
      description: List the verification profiles for the current organization and
        environment.
      operationId: ListVerificationProfiles
      parameters:
      - description: ""
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: Size of the list to be returned. Accepted range from 1 to 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ListVerificationProfilesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ListVerificationProfilesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListVerificationProfilesResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: List Verification Profiles
      tags:
      - VerificationProfiles
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
    post:
      description: Creates a new verification profile within your organization.
      operationId: CreateVerificationProfile
      requestBody:
        content:
          multipart/form-data:
            encoding:
              Alias:
                style: form
              BrandName:
                style: form
              PrimaryColor:
                style: form
              Providers:
                style: form
              Logo:
                style: form
              IsProductionUsage:
                style: form
            schema:
              $ref: '#/components/schemas/CreateVerificationProfile_request'
      responses:
        "201":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreateVerificationProfileResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVerificationProfileResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateVerificationProfileResponse'
          description: Created
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Create Verification Profile
      tags:
      - VerificationProfiles
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
  /api/valpha/verification-profiles/{id}:
    get:
      description: Gets a specific verification profile by ID.
      operationId: GetVerificationProfileById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VerificationProfileResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationProfileResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VerificationProfileResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.5.1
                title: Bad Request
                detail: This feature is not supported for your configruation
                status: 400
                traceId: 00-3fcbc632c5caaca825849d495c62d7b0-09a3500f89acbbcc-00
                instance: /api/v1/sample-request-path
                errors:
                  PropertyName:
                  - Specific error description for property
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Unauthorized
                status: 401
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Forbidden
                status: 403
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          content:
            application/problem+json:
              example:
                type: https://tools.ietf.org/html/rfc7231#section-6.6.1
                title: Internal Server Error
                status: 500
                traceId: 00-982607166a542147b435be3a847ddd71-fc75498eb9f09d48-00
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Internal server error
      summary: Get Verification Profile
      tags:
      - VerificationProfiles
      x-accepts:
      - application/json
      - application/problem+json
      - text/json
      - text/plain
components:
  schemas:
    AadhaarInput:
      properties:
        fullName:
          description: The user's full name
          nullable: true
          type: string
        dateOfBirth:
          description: "The user's date of birth, in `YYYY-MM-DD` format"
          format: date
          nullable: true
          type: string
      type: object
    AddRedirectUriRequest:
      example:
        uri: uri
      properties:
        uri:
          minLength: 1
          type: string
      required:
      - uri
      type: object
    AddRedirectUriResponse:
      example:
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          format: uuid
          type: string
      required:
      - id
      type: object
    Address:
      description: Address information for an individual
      properties:
        line1:
          nullable: true
          type: string
        line2:
          nullable: true
          type: string
        line3:
          nullable: true
          type: string
        city:
          nullable: true
          type: string
        subdivision:
          description: "The subdivision code of the address.\n            \nSubdivision\
            \ refers to a state, province, or other similar division of a country.\n\
            Examples include \"CA\" for California, \"QC\" for Québec, \"MD\" for\
            \ Madrid, or \"NSW\" for New South Wales."
          nullable: true
          type: string
        postalCode:
          nullable: true
          type: string
        country:
          nullable: true
          type: string
        fullAddress:
          description: The full address as a single string
          nullable: true
          type: string
      type: object
    AppleWalletInput:
      properties:
        exchangeMechanism:
          allOf:
          - $ref: '#/components/schemas/MdlExchangeMechanism'
          description: "The exchange mechanism to use for this Apple Wallet verification.\n\
            \            \nUse `DigitalCredentialsApi` for Digital Credentials API\
            \ on web, or `NativeApp` for a native iOS app."
          nullable: true
      type: object
    AppleWalletProviderOutput:
      description: Exposed properties for the `apple-wallet` Provider which do not
        directly map to the normalized IdentityData model.
      properties:
        rawMdlOutput:
          allOf:
          - $ref: '#/components/schemas/MdlOutput'
          description: The raw output of the mDL exchange performed through Apple
            Wallet.
      required:
      - rawMdlOutput
      type: object
    AttachmentInfo:
      properties:
        id:
          description: "The unique identifier of the Attachment.\n            \nPass\
            \ this to the `GetAttachment` endpoint, along with the Session ID and\
            \ the `resultsAccessKey` for said Session."
          format: uuid
          type: string
        type:
          description: "The type of the Attachment.\n            \nPossible values:\n\
            - \"selfie\"\n- \"document_front\"\n- \"document_back\"\n- \"document_portrait\"\
            \n- \"document_signature\"\n- \"document_scan_report\"\n            \n\
            Additional attachment types may be defined for specific Providers."
          type: string
        contentType:
          description: "The MIME type of the attachment's contents; eg, \"image/jpeg\"\
            \ or \"application/pdf\"."
          type: string
        sizeBytes:
          description: The size in bytes of the attachment.
          format: int32
          type: integer
      required:
      - contentType
      - id
      - sizeBytes
      - type
      type: object
    AttributeAvailability:
      description: Indicates when an attribute will be available in verification results.
      enum:
      - Never
      - Sometimes
      - Always
      type: string
      x-enumDescriptions:
        Never: This attribute will never be present in verification results.
        Sometimes: This attribute may or may not be present depending on the verification
          context.
        Always: This attribute will always be present in verification results.
    AustriaHandySignaturProviderOutput:
      description: Exposed properties for the `a-at-handy-signatur-login` Provider
        which do not directly map to the normalized IdentityData model.
      properties:
        firstName:
          description: The first name of the verified individual
          example: John
          type: string
        lastName:
          description: The last name of the verified individual
          example: Doe
          type: string
      required:
      - firstName
      - lastName
      type: object
    BelgiumIdCardProviderOutput:
      description: Exposed properties for the `a-be-id-login` Provider which do not
        directly map to the normalized IdentityData model.
      properties:
        firstName:
          description: The first name of the verified individual
          example: John
          type: string
        lastName:
          description: The last name of the verified individual
          example: Doe
          type: string
        dateOfBirth:
          description: The date of birth of the verified individual
          example: 1985-12-10
          format: date
          type: string
        nationalRegisterNumber:
          description: "The Belgian National Register Number (\"Rijksregisternummer\"\
            ) of the verified individual.\n            \nThis is an 11-digit number\
            \ in the format YYMMDDXXXCC, where:\n- YYMMDD represents the individual's\
            \ date of birth (year, month, day).\n- XXX is a sequential birth number,\
            \ odd for males and even for females.\n- CC is a checksum, calculated\
            \ with the equation: 97 - (YYMMDDXXX mod 97)\n            \nFor births\
            \ in the year 2000 or later, the digit '2' is prepended to the first 9\
            \ digits during checksum calculation."
          example: "83122412413"
          type: string
      required:
      - dateOfBirth
      - firstName
      - lastName
      - nationalRegisterNumber
      type: object
    BrazilCpfCheckInput:
      properties:
        cpfNumber:
          description: "The user's 11-digit, numeric CPF Number"
          maxLength: 11
          minLength: 11
          pattern: ^\d*$
          type: string
      required:
      - cpfNumber
      type: object
    BrazilDigitalCnhInput:
      properties:
        cpfNumber:
          description: "The user's 11-digit, numeric CPF Number"
          maxLength: 11
          minLength: 11
          pattern: ^\d*$
          type: string
        digitalCnhFile:
          description: The raw bytes of the digital CNH file collected from the user.
          format: byte
          nullable: true
          type: string
        digitalCnhFileContentType:
          description: "The MIME Type of the file contained in `DigitalCnhFile`.\n\
            \            \nMust be one of `application/pdf`, `image/jpeg`, or `image/png`."
          nullable: true
          type: string
        facialBiometryPhoto:
          description: "The raw bytes of the image of the user's face, collected for\
            \ biometric comparison."
          format: byte
          nullable: true
          type: string
      required:
      - cpfNumber
      type: object
    CancelSessionResponse:
      example:
        session: ""
      properties:
        session:
          allOf:
          - $ref: '#/components/schemas/Session'
      required:
      - session
      type: object
    ContractAttachment:
      description: Information about an attachment that a Provider may return in verification
        results.
      example:
        type: document_portrait
        outputted: Always
      properties:
        type:
          description: "The type of the attachment as it appears in verification results.\n\
            \            \nPossible values:\n- \"selfie\"\n- \"document_front\"\n\
            - \"document_back\"\n- \"document_portrait\"\n- \"document_signature\"\
            \n- \"document_scan_report\"\n            \nAdditional attachment types\
            \ may be defined for specific Providers."
          example: document_portrait
          type: string
        outputted:
          allOf:
          - $ref: '#/components/schemas/AttributeAvailability'
          description: Indicates when this attachment will be present in verification
            results.
          example: Always
          x-enumDescriptions:
            Never: This attribute will never be present in verification results.
            Sometimes: This attribute may or may not be present depending on the verification
              context.
            Always: This attribute will always be present in verification results.
      required:
      - outputted
      - type
      type: object
    ContractAttribute:
      description: Information about an attribute that a Provider may return in verification
        results.
      example:
        scope: person.givenName
        outputted: Always
      properties:
        scope:
          description: The scope of the attribute as it appears in verification results.
          example: person.givenName
          type: string
        outputted:
          allOf:
          - $ref: '#/components/schemas/AttributeAvailability'
          description: Indicates when this attribute will be present in verification
            results.
          example: Always
          x-enumDescriptions:
            Never: This attribute will never be present in verification results.
            Sometimes: This attribute may or may not be present depending on the verification
              context.
            Always: This attribute will always be present in verification results.
      required:
      - outputted
      - scope
      type: object
    CoteDIvoireNidLookup2Input:
      properties:
        idNumber:
          description: The user's National ID number (NNI) or document number
          nullable: true
          type: string
      type: object
    CreateDirectProviderSessionRequest:
      example:
        fallbackToHostedUI: true
        redirectUrl: redirectUrl
        capabilities:
        - LaunchBrowser
        - LaunchBrowser
        provider: provider
        providerInput: ""
        verificationProfileId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        provider:
          description: The ID of the provider to launch
          minLength: 1
          type: string
        verificationProfileId:
          description: The ID of the Verification Profile to use for this session.
          format: uuid
          type: string
        redirectUrl:
          description: "The Redirect URL to which the user should be sent after the\
            \ session is complete.\n            \nThis field is required for providers\
            \ which employ a redirect-based flow."
          nullable: true
          type: string
        capabilities:
          description: "The list of capabilities your integration supports. Capabilities\
            \ are the core of Trinsic's whitelabel-with-optional-fallback offering.\n\
            \            \nMost capabilities align with either an `IntegrationLaunchMethod`\
            \ or an `IntegrationCollectionMethod`.\nThe exception being refresh content\
            \ to support updating the content of the launch method.\n            \n\
            For example, to support a basic redirect-based flow, you must include\
            \ the `LaunchRedirect` and `CaptureRedirect` capabilities.\nTo support\
            \ a mobile deeplink / polling flow, you must include the `DeeplinkToMobile`\
            \ and `PollForResults` capabilities.\n            \nIf `FallbackToHostedUi`\
            \ is `true`, Trinsic will automatically fall back to a Trinsic-hosted\
            \ UI to cover any gaps in your integration's capabilities.\nIf `FallbackToHostedUi`\
            \ is `false`, gaps in your integration's capabilities will result in an\
            \ error during Session creation.\n            \nRead more on how to integrate\
            \ at <a href=\"https://docs.trinsic.id/docs/direct-provider-sessions\"\
            >the guide on Direct Provider Sessions</a>"
          items:
            $ref: '#/components/schemas/IntegrationCapability'
          minItems: 1
          type: array
        fallbackToHostedUI:
          description: "Whether the session should fall back to a Trinsic-hosted UI\
            \ in certain instances.\n            \nSpecifically, fallback will occur\
            \ if any of the following are true:\n- You attempted to launch a provider\
            \ which requires a capability you did not express support for\n    - In\
            \ this case, Trinsic's hosted UI will perform the necessary capability\n\
            - You attempted to launch a provider which requires input, and the input\
            \ was either not provided or incomplete\n    - In this case, Trinsic's\
            \ hosted UI will collect the necessary input from the user\n         \
            \   \nIf fallback occurs, the session's NextStep will always be LaunchBrowser,\n\
            and the CollectionMethod will always be CaptureRedirect.\n           \
            \ \nIf this field is set to `true`, you must also:\n1. Set the `RedirectUrl`\
            \ field to a non-empty value\n2. Include the `LaunchBrowser` and `CaptureRedirect`\
            \ capabilities in the `Capabilities` field"
          nullable: true
          type: boolean
        providerInput:
          allOf:
          - $ref: '#/components/schemas/ProviderInput'
          description: Provider-specific input for those providers which require it.
          nullable: true
      required:
      - capabilities
      - provider
      - verificationProfileId
      type: object
    CreateDirectProviderSessionResponse:
      example:
        resultCollection: ""
        nextStep: ""
        sessionId: 00000000-0000-0000-0000-000000000000
      properties:
        sessionId:
          description: The ID of the newly-created Acceptance Session
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        resultCollection:
          allOf:
          - $ref: '#/components/schemas/ResultCollection'
          description: The method by which you must collect the results of the Acceptance
            Session.
        nextStep:
          allOf:
          - $ref: '#/components/schemas/IntegrationStep'
          description: The next step you must take to launch the user into the integration
      required:
      - nextStep
      - resultCollection
      - sessionId
      type: object
    CreateHostedProviderSessionRequest:
      example:
        redirectUrl: redirectUrl
        provider: provider
        providerInput: ""
        verificationProfileId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        provider:
          description: The ID of the provider to launch
          minLength: 1
          type: string
        verificationProfileId:
          description: The ID of the Verification Profile to use for this session.
          format: uuid
          type: string
        redirectUrl:
          description: The Redirect URL to which the user should be sent after the
            session is complete.
          minLength: 1
          type: string
        providerInput:
          allOf:
          - $ref: '#/components/schemas/ProviderInput'
          deprecated: true
          description: |-
            Provider-specific input for those providers which require it.


            <b>Deprecated:</b> In the future, Hosted Provider Sessions will not accept input on creation,
            and will instead always redirect the user to a hosted interface to collect input. If you need
            to collect input from the user yourself, please use the Create Direct Session endpoint instead.
          nullable: true
      required:
      - provider
      - redirectUrl
      - verificationProfileId
      type: object
    CreateHostedProviderSessionResponse:
      example:
        sessionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        launchUrl: https://verify.trinsic.id/api/session/launch?clientToken=...
        resultsAccessKey: 417zNGHMJp6Ht2jCoktTLNGDRZEt4BqTwwQ8Q9ZaQz8aS4Jd7nD1xff2WLhPS69j5q9QT4gvgV79Gv7QtaXwu5YC9Utr35...
      properties:
        sessionId:
          description: The ID of the newly-created Acceptance Session
          format: uuid
          type: string
        launchUrl:
          description: "The URL that should be used to launch the Hosted Provider\
            \ Session on your user's device.\n            \nThere are two recommended\
            \ ways to do so:\n- Redirect their browser to the `LaunchUrl` as a top-level\
            \ navigation\n- Open a popup window and navigate it to the `LaunchUrl`\n\
            \            \nThis URL is sensitive and as such can only be obtained\
            \ once. If you need to obtain it again, you will need to create a new\
            \ Acceptance Session."
          example: https://verify.trinsic.id/api/session/launch?clientToken=...
          type: string
        resultsAccessKey:
          description: "The `resultsAccessKey` for the Acceptance Session.\n     \
            \       \nThis is an encrypted payload which contains the decryption key\
            \ necessary to access the Session's Data Vault.\n            \nSave this\
            \ securely in your systems; it must be passed back with any API call which\
            \ requires access to the Session's Data Vault.\n            \nTrinsic\
            \ cannot access a Session's Data Vault without this key."
          example: 417zNGHMJp6Ht2jCoktTLNGDRZEt4BqTwwQ8Q9ZaQz8aS4Jd7nD1xff2WLhPS69j5q9QT4gvgV79Gv7QtaXwu5YC9Utr35...
          type: string
      required:
      - launchUrl
      - resultsAccessKey
      - sessionId
      type: object
    CreateVerificationProfileResponse:
      example:
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          description: The ID of the verification profile
          format: uuid
          type: string
      required:
      - id
      type: object
    CreateWidgetSessionRequest:
      example:
        redirectUrl: redirectUrl
        verificationProfileId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        recommendationInfo: ""
        providers:
        - providers
        - providers
      properties:
        verificationProfileId:
          description: The ID of the Verification Profile to use for this session.
          format: uuid
          type: string
        redirectUrl:
          description: "The URL to redirect the user to after the widget session is\
            \ complete.\n            \n*Note*: this should NOT be set if you intend\
            \ to use Trinsic's Web UI SDK to launch the Widget\nas a popup; in that\
            \ case, session resolution is handled by our SDK, not via redirect."
          nullable: true
          type: string
        providers:
          description: "The list of allowed identity providers. If not specified,\
            \ all available providers will be allowed."
          items:
            type: string
          nullable: true
          type: array
        recommendationInfo:
          allOf:
          - $ref: '#/components/schemas/RecommendationInfo'
          description: |-
            Data that you already know about the user being verified.


            This data is used to improve the user experience during provider selection, by surfacing the most relevant providers first.
          nullable: true
      required:
      - verificationProfileId
      type: object
    CreateWidgetSessionResponse:
      example:
        sessionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        launchUrl: https://verify.trinsic.id/api/session/launch?clientToken=...
        resultsAccessKey: 417zNGHMJp6Ht2jCoktTLNGDRZEt4BqTwwQ8Q9ZaQz8aS4Jd7nD1xff2WLhPS69j5q9QT4gvgV79Gv7QtaXwu5YC9Utr35...
      properties:
        sessionId:
          description: The ID of the newly-created Acceptance Session
          format: uuid
          type: string
        launchUrl:
          description: "The URL that should be used to invoke the Acceptance Session\
            \ on your user's device.\n            \nYou can use our frontend SDKs\
            \ to launch the user into the Acceptance Session, or you can redirect\
            \ the user's browser to this URL.\n            \nThis URL is sensitive\
            \ and as such can only be obtained once. If you need to obtain it again,\
            \ you will need to create a new Acceptance Session."
          example: https://verify.trinsic.id/api/session/launch?clientToken=...
          type: string
        resultsAccessKey:
          description: "The `resultsAccessKey` for the Acceptance Session.\n     \
            \       \nThis is an encrypted payload which contains the decryption key\
            \ necessary to access the Session's Data Vault.\n            \nSave this\
            \ securely in your systems; it must be passed back with any API call which\
            \ requires access to the Session's Data Vault.\n            \nTrinsic\
            \ cannot access a Session's Data Vault without this key."
          example: 417zNGHMJp6Ht2jCoktTLNGDRZEt4BqTwwQ8Q9ZaQz8aS4Jd7nD1xff2WLhPS69j5q9QT4gvgV79Gv7QtaXwu5YC9Utr35...
          type: string
      required:
      - launchUrl
      - resultsAccessKey
      - sessionId
      type: object
    CzechiaMojeIdProviderOutput:
      description: Exposed properties for the `a-mojeid` Provider which do not directly
        map to the normalized IdentityData model.
      properties:
        firstName:
          description: The first name of the verified individual
          example: John
          type: string
        lastName:
          description: The last name of the verified individual
          example: Doe
          type: string
        dateOfBirth:
          description: The date of birth of the verified individual
          example: 1985-12-10
          format: date
          type: string
        openId2Identifier:
          description: "The OpenID 2.0 Identifier (\"openid2_id\") of the verified\
            \ individual's MojeID account.\n            \nThis is an HTTPS URL which\
            \ uniquely identifies the user within the MojeID system."
          example: https://tpalts3.mojeid.regtest.nic.cz/#jjczaJE2Hfsg
          type: string
      required:
      - dateOfBirth
      - firstName
      - lastName
      - openId2Identifier
      type: object
    DocumentData:
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/DocumentType'
          description: The type of the document.
          example: DriversLicense
          nullable: true
        number:
          description: The primary identifying number of the document.
          example: D1234567
          nullable: true
          type: string
        issueDate:
          description: The date the document was issued.
          example: 2025-01-15
          format: date
          nullable: true
          type: string
        expirationDate:
          description: The date the document expires.
          example: 2030-01-15
          format: date
          nullable: true
          type: string
        issuingCountry:
          description: The ISO 3166-1 alpha-2 country code of the country that issued
            the document.
          example: US
          nullable: true
          type: string
        issuingSubdivision:
          description: "The ISO 3166-2 subdivision code of the issuing authority which\
            \ issued the document.\n            \nThis is always in the form {CountryCode}-{SubdivisionCode},\
            \ where CountryCode is 2 letters and SubdivisionCode is 1-3 alphanumeric\
            \ characters."
          example: US-NY
          nullable: true
          type: string
        issuingAuthority:
          description: The name of the authority which issued the document.
          nullable: true
          type: string
      type: object
    DocumentType:
      enum:
      - Passport
      - DriversLicense
      - NationalId
      - IdCard
      - Other
      type: string
      x-enumDescriptions:
        Passport: ""
        DriversLicense: ""
        NationalId: ""
        IdCard: ""
        Other: ""
    EstoniaIdCardProviderOutput:
      description: Exposed properties for the `a-ee-web-eid-login` Provider which
        do not directly map to the normalized IdentityData model.
      properties:
        firstName:
          description: The first name of the verified individual
          example: John
          type: string
        lastName:
          description: The last name of the verified individual
          example: Doe
          type: string
        dateOfBirth:
          description: The date of birth of the verified individual
          example: 1985-12-10
          format: date
          type: string
        personalIdentificationCode:
          description: "The 11-digit Estonian personal identification code (\"isikukood\"\
            ) of the verified individual.\n            \nThis is in the format GYYMMDDSSSC,\
            \ where:\n- G combines the century and sex of birth\n- YYMMDD is the date\
            \ of birth within the given century\n- SSS is a serial number distinguishing\
            \ people born on the same date\n- C is a checksum digit\n            \n\
            If G is odd, the individual is male.\nIf G is even, the individual is\
            \ female.\n            \nIf G is 1 or 2, the individual was born in the\
            \ 19th century (1800-1899).\nIf G is 3 or 4, the individual was born in\
            \ the 20th century (1900-1999).\nIf G is 5 or 6, the individual was born\
            \ in the 21st century (2000-2099).\nIf G is 7 or 8, the individual was\
            \ born in the 22nd century (2100-2199)."
          example: "39006301234"
          type: string
      required:
      - dateOfBirth
      - firstName
      - lastName
      - personalIdentificationCode
      type: object
    FaydaProviderOutput:
      description: Exposed properties for the `ethiopia-fayda` Provider which do not
        directly map to the normalized IdentityData model.
      properties:
        sub:
          description: "A unique eKYC identifying token used to match the original\
            \ eKYC token received from the provider when the user was initially registered.\n\
            \            \nSince Fayda does not return identifying data, it is the\
            \ responsibility of the relying party to keep the unique user token received\
            \ from Fayda when\nthe user was initially registered to do a comparison\
            \ of the subs to verify that it is the same person."
          example: F50278D6-7C38-4284-83CD-549BBC818F5C
          nullable: true
          type: string
      type: object
    FinlandIdCardProviderOutput:
      description: Exposed properties for the `a-fi-id-login` Provider which do not
        directly map to the normalized IdentityData model.
      properties:
        firstName:
          description: The first name of the verified individual
          example: John
          type: string
        lastName:
          description: The last name of the verified individual
          example: Doe
          type: string
        dateOfBirth:
          description: The date of birth of the verified individual
          example: 1985-12-10
          format: date
          type: string
        personalIdentificationCode:
          description: "The 11-digit Finnish Personal Identification Code (Henkilö\
            tunnus) of the verified individual.\n            \n This is in the format\
            \ DDMMYYCZZZQ, where:\n- DDMMYY is the date of birth\n- C is a symbol\
            \ which determines the century of birth\n- ZZZ is an individual number,\
            \ indicating gender\n- Q is a checksum character\n            \nIf ZZZ\
            \ is even, the individual is female.\nIf ZZZ is odd, the individual is\
            \ male.\n            \nIf C is '+', the individual was born in the 19th\
            \ century (1800-1899).\nIf C is '-', 'U', 'V', 'W', 'X', or 'Y', the individual\
            \ was born in the 20th century (1900-1999).\nIf C is 'A', 'B', 'C', 'D',\
            \ 'E', or 'F', the individual was born in the 21st century (2000-2099)."
          example: 300690-543X
          type: string
      required:
      - dateOfBirth
      - firstName
      - lastName
      - personalIdentificationCode
      type: object
    FrejaProviderOutput:
      description: Exposed properties for the `a-freja-eid-login` Provider which do
        not directly map to the normalized IdentityData model.
      properties:
        firstName:
          description: The first name of the verified individual
          example: John
          type: string
        lastName:
          description: The last name of the verified individual
          example: Doe
          type: string
        personalNumber:
          description: "The value returned by Freja in the \"ssn\" field.\n      \
            \      \nThe actual value of this field depends on the country of origin\
            \ used to create the Freja credential. It is typically\na Social Security\
            \ Number, National Identification Number, or equivalent personal identifier."
          example: "200003276624"
          type: string
        personalNumberCountry:
          description: The 2-digit ISO country code of the country which issued the
            personal number.
          example: SE
          type: string
      required:
      - firstName
      - lastName
      - personalNumber
      - personalNumberCountry
      type: object
    FrenchNumeriqueGivenName:
      description: Given name information including the full given name and its structured
        components.
      properties:
        fullGivenName:
          description: |-
            Full given name(s) as recorded on the user's French identity document.
            If the user has multiple given names, they are separated by a single space.
          example: Jean Pierre
          nullable: true
          type: string
        firstName:
          description: First/primary given name (premier prénom).
          example: Jean
          nullable: true
          type: string
        middleName:
          description: "Middle name(s) (prénoms secondaires), separated by spaces\
            \ if multiple."
          example: Pierre
          nullable: true
          type: string
      type: object
    FrenchNumeriqueNationality:
      description: Nationality information with ISO 3166 alpha-3 code and French label.
      properties:
        code:
          description: ISO 3166 alpha-3 country code.
          example: FRA
          nullable: true
          type: string
        label:
          description: Nationality label in French.
          example: Française
          nullable: true
          type: string
      type: object
    FrenchNumeriquePhone:
      description: Phone number information including the full phone number and its
        structured components.
      properties:
        fullPhoneNumber:
          description: Full phone number including country prefix.
          example: "+33606060606"
          nullable: true
          type: string
        countryPrefix:
          description: International country calling code including the plus sign.
          example: "+33"
          nullable: true
          type: string
        nationalNumber:
          description: National phone number without the country prefix.
          example: "601020304"
          nullable: true
          type: string
      type: object
    FrenchNumeriqueProviderOutput:
      description: Exposed properties for the `france-identite-numerique` Provider
        which do not directly map to the normalized IdentityData model.
      properties:
        givenName:
          allOf:
          - $ref: '#/components/schemas/FrenchNumeriqueGivenName'
          description: |-
            Given name information including the full given name and its structured components
            (first name and middle name(s)).
          nullable: true
        familyName:
          description: |-
            Birth name (nom de naissance) as recorded on the user's French identity document.
            In France, this is the family name given at birth and may differ from the usage name.
          example: Dupont
          nullable: true
          type: string
        preferredSurname:
          description: |-
            Usage surname ("nom d'usage") - according to French law, this is the surname used in
            daily life. This is typically a married name or other preferred surname, as opposed to
            FamilyName which is the birth surname ("nom de naissance").
          example: Martin
          nullable: true
          type: string
        birthdate:
          description: |-
            Date of birth in YYYY-MM-DD format,
            as recorded on the user's French identity document.
          example: 1990-01-15
          nullable: true
          type: string
        nationality:
          allOf:
          - $ref: '#/components/schemas/FrenchNumeriqueNationality'
          description: |-
            Nationality information with ISO 3166 alpha-3 code and French label.
            The label is provided in French (e.g., "Française" for French nationality).
          example:
            code: FRA
            label: Française
          nullable: true
        sex:
          description: Sex - "Male" or "Female".
          example: Male
          nullable: true
          type: string
        majority:
          description: |-
            Majority status (majorité) indicating whether the user has reached the
            French age of legal majority (18 years old). This value is computed by
            the provider from the user's birthdate.
          example: true
          nullable: true
          type: boolean
        phoneNumber:
          allOf:
          - $ref: '#/components/schemas/FrenchNumeriquePhone'
          description: |-
            Phone number information including the full phone number and its structured components
            (country prefix and national number).
          nullable: true
        phoneNumberVerified:
          description: Whether the phone number has been verified by the provider.
          example: true
          nullable: true
          type: boolean
        email:
          description: Email address registered in the user's digital identity account.
          example: jean.dupont@example.fr
          nullable: true
          type: string
        emailVerified:
          description: Whether the email address has been verified by the provider.
          example: true
          nullable: true
          type: boolean
        birthplace:
          description: "National Institute of Statistics and Economic Studies (INSEE)\
            \ official geographic code (COG)\nof the birthplace. This is a 5-digit\
            \ French administrative code identifying the commune\n(municipality) of\
            \ birth. For births in metropolitan France, the first two digits represent\n\
            the department.\n            \nSee: https://www.insee.fr/fr/information/2560452"
          example: "75056"
          nullable: true
          type: string
        birthplaceLabel:
          description: |-
            Name of the birthplace commune (municipality). If applicable, this includes the full name of
            the arrondissement (borough).
          example: PARIS-9E-ARRONDISSEMENT
          nullable: true
          type: string
        birthCountry:
          description: "National Institute of Statistics and Economic Studies (INSEE)\
            \ official geographic code (COG)\nfor the user's country of birth.\n \
            \           \nLaPoste returns this as a 5-character numeric string. This\
            \ is a country/territory COG,\nso it always starts with \"99\" (99xxx).\
            \ France is coded as 99100.\n            \nSee full list here: https://www.insee.fr/fr/information/2560452"
          example: "99100"
          nullable: true
          type: string
        birthCountryIso:
          description: Birth country as an ISO 3166 alpha-3 code.
[...]
